//--- GLOBAL VARIABLES
//---------------------------------------------------------

//- strings
- var siteName = "Division name"
- var corporateName = "NSW Government"
- var corporateNameShort = "NSW Gov"