//--- GLOBAL INCLUDES
//---------------------------------------------------------

include _variables.pug

//--- UTILITIES
//---------------------------------------------------------
include utilities/lorem-ipsum-mixin.pug
include utilities/flex-grid.pug

//--- GLOBAL COMPONENTS
//--------------------------------------------------------
include components/_global-corporate-logo.pug
include components/_global-footer.pug
include components/_global-header.pug

//--- PARTIALS
//--------------------------------------------------------
include components/partials/teaser.pug
include components/partials/link-list.pug
include components/partials/linkgroup.pug
include components/partials/catalogue-teaser.pug
include components/partials/general-content.pug

//--- COMPONENTS
//-------------------------------------------------------

include components/featured-teaser.pug
include components/lead.pug
include components/lists.pug
include components/page-metadata.pug
include components/iframe.pug
include components/megamenu_component.pug
include components/table.pug
include components/blockquote.pug
include components/image-with-caption.pug
include components/button.pug
include components/teaser-list.pug
include components/pagination.pug
include components/link-tag.pug
include components/meganav-mobile-component.pug
include components/call-out-box.pug
include components/news-teaser.pug
include components/link-columns.pug
include components/link-columns-decription.pug
include components/linkgroup-list.pug
include components/share-this.pug
include components/banner.pug
include components/category.pug
include components/tag-list.pug
include components/landing-header.pug
include components/content-container.pug
include components/table-of-contents.pug
include components/tabs.pug
include components/show-hide.pug
include components/expanded-nav.pug
include components/results-table.pug
include components/download-box.pug
include components/notice-ribbon.pug
include components/maintenance-ribbon.pug
include components/alert-ribbon.pug
include components/anchor-box.pug
include components/breadcrumbs-component.pug
include components/drawer.pug
include components/back-to-top.pug
include components/a-z-anchors.pug
include components/a-z-list.pug
include components/google-translate.pug
include components/global-header-links.pug
include components/acknowledgment.pug
include components/social-media-list.pug
include components/catalogue.pug
include components/category-list.pug
include components/select.pug
include components/side-navigation.pug
include components/event-calendar.pug
include components/search-box.pug
include components/skip-link.pug
include components/section-header.pug
include components/highlight-panel.pug
include components/guided-journey.pug
include components/livefyre.pug
include components/social-from-microservice.pug
include components/select_new.pug