// -------------------
// RIBBON
//
// A thin box which displays important information in a show-hide format designed to inform the user.
//
// .gel-alert-ribbon                          - Container for the header and content
// .gel-alert-ribbon__message               - The main message and title for the ribbon
//
// -------------------

.alert {
  padding: 0;
  margin-bottom: 0;
}
.gel-alert-ribbon {
  background-color: #f5e60c;
  border-radius: 0;
  padding: .75rem 1.25rem;
  .gel-alert-ribbon__message {
    display: inline-block;
    font-size: $base-body-font-size;
    .gel-alert-ribbon__icon {
      float: left;
      &:before {
        content: '\f071';
        font-family: 'FontAwesomeSolid';
        margin-right: 0.75rem;
      }
    }

    a.alert-link {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      p {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    p {
      margin-bottom: 0;
      padding-right: 5px;
      float: left;
    }
    @media #{$gel-mq-lg} {
      font-size: 1rem;
    }
  }


}
