//
// Anchor box
//
// Styling for Anchor Boxes
//
// .gel-anchor-box - container
// .gel-anchor-box__title - header of the anchor box
//
//
//

.gel-anchor-box {
  display: inline-block;
  margin: 10px 0 20px;
  background-color: $gel-lighter-grey;
  padding: 13px 60px 15px 20px;


	ul, ol {

		& li:last-child {
			margin-bottom: 0.95rem;
		}
    
	}

}

.gel-anchor-box__title {
  color: $gel-content-header;
}
