// Back to top link.  Banner with attached up arrow for smaller screens. Button styling for larger screens.

// .fixed  - used only on mobiles to keep to bottom of screen
// .active - displayed
// .uk-icon-angle-up  - large upwards ^.  Hidden on smaller screens
// :hover - only change in larger screens.  Background change
// :after - included in @arrow.  Used to hide in larger screens

// No styleguide reference

.gel-btt {
  display: none;
  @media #{$gel-mq-bs-md} {
    display: block;
    position: fixed;
    background: $btt-background;
    width: 38px;
    height: 38px;
    text-align: center;
    z-index: 20000;
    transform: translateY(200px);
    transition: all 0.2s;
    text-decoration: none;
    padding: 0;
    margin: 0;
    right: 20px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid $btt-border;

    &[data-show="true"] {
      visibility: visible;
      transform: translateY(0);
    }

    &[data-stick="true"] {
      visibility: visible;
      position: absolute;
      transform: translateY(0);
    }

    .gel-backtotop-icon {
      &:before {
        position: absolute;
        font-family: 'FontAwesomeSolid';
        left: 5px;
        top: -3px;
        display: inline-block;
        color: $btt-arrow;
        font-size: 1.5rem;
        content: "\f077";
      }
    }

    &:hover,
    &:focus {
      outline: 0;
      border-color: $btt-border-action;
      background: $btt-background-action;
      .gel-backtotop-icon {
        &:before {
          color: $btt-arrow-action;
        }
      }
    }
  }
  
}

.gel-mobile-btt {
  display: none;
  
}
