// Banner Image

// .gel-banner__content            - Banner text content
// .gel-banner-container           - Support for out of article background colour change and content move

// No styleguide reference

.gel-banner-container {
  position: relative;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 30px;

  &.gel-banner-container--small  {
    display: none;
  }

  .gel-ie9 & {
    overflow: hidden;
  }

  @media #{$gel-mq-lg} {

    &.gel-banner-container--small {
      display: block;

      img {
        display: inline-block;
        position: static;
      }
    }
  }
}


.gel_banner-underneath-container {
  padding: 30px 40px;
  h2 {
    margin-bottom: 0;
  }
}

.gel-banner {
  position: relative;

  .gel-banner__content {
    display: block;
    box-sizing: border-box;
    padding: 25px 20px;
    margin-left: auto;
    margin-right: auto;

    .gel-banner__content__title {
      margin: 0;
      color: $gel-content-header;
      font-weight: 600;
      letter-spacing: 0.03em;
      
    }

    p {
      margin-top: 0;
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: normal;
      max-height: 120px;
      overflow: hidden;
    }

    .btn-banner {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;
      &:hover {
        background: #000;
      }
    }
  }
  .gel-banner__content_fifty {
    // max-width: 606px;
  }
  .img-fluid {
    width: 100%;
    max-width: none;
    min-height: 240px;
    max-height: 520px;
  }
  .image_container {
    display: none;
  }

  .large-overlay {
    position: absolute;
    left: 0;
    top: 0px !important;
    width: 100% !important;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(0,0,0,0.8) !important;
    min-height: 240px;
    max-height: 520px;
    .btn-banner {
      padding-left: 48px;
      padding-right: 48px;
    }
    .banner__content-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $gel-white;
      h3 {
        color: $gel-white !important;
      }
      p {
        font-size: 1rem;
        margin-bottom: 10px;
        margin-top: 10px;

        @media screen and (max-width: 576px) {
          max-height: 50px;
        }
      }
      a {
        color: $gel-white;
      }
    }

    .btn-banner {
      bottom: 30%;
      border: 2px solid $gel-white;
      @media screen and (max-width: 576px) {
        line-height: 1rem;
        letter-spacing: normal;
      }
    }
  }

  .gel-banner-container--small & {
    //max-height: 250px;
    overflow: hidden;
    .img-fluid {
      max-height: 270px;
    }
  }

  @media #{$gel-mq-md} {

    .gel-banner__content {
      padding: 20px 65px;
      p {
        font-size: 1rem;
        font-weight: 300;
        max-height: 75px;
      }
    }
    .large-overlay {
      .banner__content-container {
        left: auto;
        transform: translate(0, -50%);
        max-width: 484px;
        p {
          margin-top: 25px;
          margin-bottom: 35px;
        }
      }
    }
    .image_container {
      display: block;
    }
    .gel-banner__content_fifty {
      // max-width: 375px;
    }

    .gel-banner__content_fifty {
      .btn-banner {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

  }

  @media #{$gel-mq-bs-lg} {

    .gel-banner__content {
      position: absolute;
      top: 30px;
      left: 0;
      width: 60%;
      padding-top: 30px;
      padding-bottom: 30px;
      background: rgba(255,255,255,0.8);

      .btn-banner {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

    .gel-banner__content_fifty {
      position: inherit;
      top: 0;
      background: none;
      padding: 25px 95px;
    }
  }

}
.fifty_fifty_warpper {
  border-top: 2px solid #565a5c;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5), 1px 3px 4px 0 rgba(0,0,0,0.5);
  margin-left: 0;
  margin-right: 0;
  .col-lg-6:first-child{
    padding-left: 0;
    padding-right: 0;
  }
  .media-container {
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 576px) {
      min-height: 180px;
    }
    .embed-responsive {
      @media screen and (min-width: 992px) {
        overflow: visible;
      }
    }
  }
  .media-container img {
    max-width: 100%;
    min-height: 375px;
    object-fit: cover;
    @media screen and (max-width: 576px) {
      min-height: 180px;
    }
  }

}
