
  blockquote {
    padding: 20px 20px 20px 30px;
    border-left: 2px solid $gel-primary-bg;
    position: relative;
    color: #041E42;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      margin-bottom: 0;
      padding: 0 15px;
    }
    @media #{$gel-mq-md} {
      font-size: 1.5rem;
    }
  }
  .gel-blockquote--with-quotes {
    blockquote {
      padding: 70px 25px;
      &::before, &::after {
        line-height: 60px;
        font-family: initial;
        font-size: 3rem;
        font-weight: 900;
        background-color: $gel-primary-bg;
        border-radius: 50%;
        position: absolute;
        color: $gel-white;
        height: 43px;
        padding: 0 10px;
      }
      &::before {
        content: open-quote;;
        top: 15px;
        left: 15px;
      }

      &::after {
        content: close-quote;;
        bottom: 15px;
        right: 15px;
      }
      strong {
        color: #041E42;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
      }
    }
  }
