.breadcrumb{
  background-color: $gel-white;
  padding: 0;
}
.gel-breadcrumbs{
  color:$gel-black;
  width:100%;
  @media screen and (max-width: $gel-md-max){
    margin: 36px 15px 60px 15px;
  }

    //width:900px;
  .breadcrumb{
    background-color: $gel-white;
    padding: .75rem 1rem;
  }
  .gel-breadcrumbs__list{
    flex-wrap:nowrap;
  }
  .gel-breadcrumbs__item-home-icon{
    color:$gel-black;
    &:before {
      content: "\f015";
      font-family: FontAwesomeSolid;
    }
  }
  .gel-breadcrumbs__item-home{
    padding-left: 0;
    &:before {
      content: "";
      font-family: FontAwesomeSolid;
    }
  }
  .gel-breadcrumbs__item {
    padding-left:20px;
    white-space: nowrap;
    &:before{
      padding-left: 5px;
      content: "\f105";
      font-family: FontAwesomeSolid;
      margin-right:5px;
      font-size:18px;
      font-weight:300;
    }
    a.gel-breadcrumbs__item-link, span.gel-breadcrumbs__item-active{
      box-sizing: border-box;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      text-decoration: underline;
      color:$gel-black;
      &:hover{
        text-decoration: none;
      }
      &:focus{
        outline: 1px solid #000;
      }
    }
    span.gel-breadcrumbs__item-active{
      text-decoration: none;
      font-weight:600;
    }
  }

  .gel-breadcrumbs__dropdown {

      &:after {
        content: '...';
        display: block;
        position: relative;
        width: 40px;
        height: 55px;
        background-color: #eee;
        margin-left: 0;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
        color: $breadcrumbs-dropdown-area-color;
        background-color: $breadcrumbs-dropdown-area-bg;
        line-height: 55px;
        top:-15px;
      }

      div {
        z-index: 999;
        display: block;
        overflow: hidden;
        padding-left: 0;
        list-style: none;
        position: absolute;
        left: 20px;
        top: 25px;
        margin-top: 15px;
        height: 0;
        background-color: $breadcrumbs-dropdown-bg;
        width: $breadcrumbs-dropdown-width;
      }

      p {
        display: block;
        position: relative;
        margin-top: 0;
        padding-left: 10px;
        margin-bottom: 6px;
        white-space: normal;
        width: auto;
      }

      .gel-breadcrumbs__dropdown-icon:before {
        font-family: FontAwesomeSolid;
        content: "\f105";
        display: block;
        position: absolute;
        left: 0;
        padding: 0 12px;
        font-size: 1.175rem;
        top: 5px;
        line-height: 1;
        padding-left: 17px;
        color: $breadcrumbs-dropdown-color;
      }

      a.gel-breadcrumbs__item-link {
        color: $gel-white;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        white-space: normal;
        overflow: visible;
        text-overflow: default;
      }

      &:hover,
      &.active-clicked,
      &.active-hovered,
      &.active-focused {

        div {
          height: auto;
          padding-top: 18px;
          padding-bottom: 15px;
        }

        &:after {
          color: $breadcrumbs-dropdown-area-hover-color;
          background-color: $breadcrumbs-dropdown-area-hover-bg;
        }
      }
  } /* /.dropdown */
  .gel-breadcrumbs__link {
    color:$gel-black;

    &-icon {
      &:before {
        content: "\f104";
        font-family: FontAwesomeSolid;
        padding-right:10px;
      }
    }
  }

  .gel-breadcrumbs__truncate {

    &:after {
      //content: attr(data-tooltip);
      opacity: 0;
      position: absolute;
      display: inline-block;
      top: 23px;
      left: 40px;
      max-width: 330px;
      height: 0;
      overflow: hidden;
      padding: 8px 10px;
      border: 1px solid $breadcrumbs-tooltip-stroke;
      background-color: $breadcrumbs-tooltip-bg;
      background-repeat: no-repeat;
      border-radius: 1px;
      white-space: normal;
      z-index: 10000;
      color: $breadcrumbs-tooltip-color;
      font-weight: 400;
      font-size: $base-body-font-size;
      line-height: 1.2;
      transition: opacity 0;
    }

    &:hover:after {
      content: attr(data-tooltip);
      opacity: 1;
      height: auto;
      transition: opacity 0.2s #{$breadcrumbs-tooltip-delay};
    }

    &:first-child:hover:after {
      left: 20px;
    }

    &:last-child,
    &:nth-last-child(2) {

      &:after {
        left: auto;
        right: 40px;
      }

      a:after, span:after {
        left: auto;
        right: 20%;
      }
    }

    & a,
    & span {
      position: relative;
      z-index: 10;
    }

    & a:after,
    & span:after  {
      content: '';
      opacity: 0;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 20%;
      background-repeat: no-repeat;
      width: 20px;
      height: 8px;
      background-image: $breadcrumbs-tooltip-arrow-path;
      transition: opacity 0;
    }

    &:hover a:after,
    &:hover span:after {
      opacity: 1;
      transition: opacity 0.2s $breadcrumbs-tooltip-delay;
    }
  } /* /.tooltip */

}

/* IE 11 workaround for ellipses  */
_:-ms-fullscreen, :root .gel-breadcrumbs .gel-breadcrumbs__truncate { width: 22.5%; }
