.gel-button, .gel-button:visited {
  line-height: $button-line-height;
  text-decoration: none;
  padding: $button-default-padding;
  min-height: $button-default-height;
  border-radius:  $button-default-radius;
  border-color: $button-border-color;
  border-width: $button-border-width;
  font-size: $button-default-font-size;
  font-weight: $button-default-font-weight;
  letter-spacing: $button-default-letter-spacing;
  margin-top: auto;
  margin-bottom: auto;

  &:hover,
  &:focus {
    border-color: $button-border-color-highlight;
  }

  &.gel-button-secondary {
    color: $gel-primary-bg;
    background: $button-alt1-background;
    border-color: $gel-primary-bg;
    border-width: $button-alt1-border-width;

    &:hover,
    &:focus {
      outline: 0;
      color: $gel-white;
      background: $gel-primary-bg;
      border-color: $gel-primary-bg;
    }
    @media screen and (max-width: 1024px){
      margin-left: 0px;
    }
  }

  &.gel-button-primary {
    background-color: $gel-bright-grey;
    color: $gel-white;
    &:hover {
      background-color: $gel-black;
      color: $gel-white;
    }
  }
  &.gel-button-l-icon {
    &::before {
      content: "\f053";
      font-family: "FontAwesomeSolid";
      font-size: 1rem;
      padding-right: 15px;
      font-weight: 400;
    }
  }
  &.gel-button-r-icon {
    &::after {
      content: "\f054";
      font-family: "FontAwesomeSolid";
      font-size: 1rem;
      padding-left: 15px;
      font-weight: 400;
    }
  }
  &.gel-button-icon-only {

    &::after {
      content: "\f067";
      font-family: "FontAwesomeSolid";
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.gel-button--print {
  display: none;

  @media #{$gel-mq-lg}{
    display: inline-block;
  }
}

.gel-button-small {
  padding: $button-small-padding;
  min-height: $button-small-height;
  font-size: $button-small-font-size;
  &.gel-button-icon-only {
    height: 44px;
    width: 44px;
    padding: 10px;
  }
}

.gel-button-medium {
  padding: $button-medium-padding;
  min-height: $button-medium-height;
  font-size: $button-medium-font-size;
  &.gel-button-icon-only {
    height: 50px;
    width: 50px;
    padding: 11px;
  }
}

.gel-button-large {
  padding: $button-large-padding;
  min-height: $button-large-height;
  font-size: $button-large-font-size;
  &.gel-button-icon-only {
    height: 60px;
    width: 60px;
    padding: 13px;
  }
}
