//
// Call Out Box
//
// The call out box styles a section for better visibility.
//
//

.gel-call-out-box {
  padding: 20px;
  margin: 20px 0;
  background-color: $gel-highlight-panel-bg;
  border-bottom: 10px solid $gel-decoration;

  h3 {
    margin-top: 0;
  }

  @media #{$gel-mq-lg} {
    padding: 25px;
    margin: 25px 0;
  }
}

.gel-call-out-box--lite {
  @extend .gel-call-out-box;

  position: relative;
  background-color: transparent;
  border: 1px solid $gel-decoration;
  padding-top: 40px;

  // .gel-call-out-box__heading {
  //   background: $gel-decoration;
  //   color: $gel-primary-text;
  //   padding: 10px;
  //   margin: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   font-size: 1rem;
  //   //text-transform: uppercase;
  //
  // }

  :last-child {
    margin-bottom: 0;
  }
}

// .gel-call-out-box {
//   .gel-link-list {
//     // @include reset_list;
//     // position: relative;
//
//     li:before {
//       left: 0;
//     }
//   }
// }
