.card {
  border-radius: 4px;

  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.27);
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    box-shadow: 0px 8px 33px -7px rgba(0,0,0,0.27);
    z-index: 1;
  }


  & > .card-img-top {
    border-bottom: 2px solid $card-border-color;
  }

  & > .card-body {
    border-top: 2px solid $card-border-color;
  }

  & > .card-img-top + .card-body {
    border-top: none;
  }

  & > .card-body {
    padding: 15px;
    @media #{$gel-mq-bs-lg} {
      padding: 30px;
    }
  }

  & > *:first-child:not(.card-body) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  & > *:last-child:not(.card-img-top) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .edu-panel-inner-links {
    padding: 20px 30px;
    @media #{$gel-mq-bs-lg} {
      .social-media-list {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .gel-card__arrow {
    margin-bottom: -25px;

    color: $card-action-color;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 3.70rem;
  }

  .card:hover .gel-calendar .gel-highlight-panels__content .gel-card__arrow {
    transform: translateX(2px);
  }
}


/*
 * WARNING: in future we will need to improve how we do cards
 * i.e. having a class to disable the on hover
 * IMPORTANT: this code is used by search and social media feed
 */

.gel-card {
  border-radius: 4px;
  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.27);
  background: #FFF;

  transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);


  &__header {
    position: relative;
    padding-bottom: 7px;
  }

  &__media {
    img {
      width: 100%;
    }
  }

  &__content {
    border-top: 2px solid $card-border-color;
    padding: 23px 15px 0 15px;

    color: #666666;
  }

  &__media + &__content {
    padding: 15px;
  }

  &__footer {
    border-top: 1px solid #E5E5E5;
    padding: 8px 15px 15px 15px;

    .fab {
      margin-right: 5px;
      font-family: "Font Awesome 5 Brands";
    }
  }

  a {
    color: #041E42;
  }
}


/* search specific card styling */
.gel-search-results {
  .gel-card {
    &__header {
      padding: 20px 20px 0 20px;
    }
  
    &__body {
      padding: 20px;
    }
  }
}
