.gel-catalogue {
  // background-color: $gel-off-white;
  padding: 60px 0;
  .gel-category-list {
    a.active {
      font-weight: 700;
    }
  }

  .gel-form {
    padding-left: 0;
    padding-right: 0;

    padding-bottom: 25px;

    @media #{$gel-mq-lg} {
      padding-bottom: 0;
    }

    .gel-button {
      display: inline-block;
      margin-left: 0;
      margin-right: 10px;

    }
  }

  .fa-th-icon {
    font-family: FontAwesomeSolid;;
    &:before {
      content: "\f00a";
    }

  }
  .fa-list-icon {
    font-family: FontAwesomeSolid;;
    &:before {
      content: "\f03a";
    }

  }

  .gel-flex-grid--columns-1:not(.gel-flex-grid--columns),
  .gel-flex-grid--columns-2:not(.gel-flex-grid--columns),
  .gel-flex-grid--columns-3:not(.gel-flex-grid--columns),
  .gel-flex-grid--columns-4:not(.gel-flex-grid--columns) {
    /* Display row item */

    @media #{$gel-mq-lg} {
      li:not(:last-child) {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 2px solid $card-border-color;
        display: flex;
        flex-direction: row;
        overflow: hidden;
      }

      .img-fluid {
        border-radius: 0;
        border-bottom: none;
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        height: auto;
        min-height: auto;
        max-height: 350px;
        object-fit: cover;
      }
      
      .card-body {
        flex: 1;
        width: 50%;
        padding: 20px 30px;
        border-top: none;
      }

      .gel-featured-teaser-link.mb-3 {
        margin-bottom: 0 !important;
      }
    }
  }

  .gel-featured-teaser-link,
  .gel-featured-teaser_variant {
    display: flex;
    flex: 1;
    width: 100%;
  }
}
