//
// Content Container
//
// The Content Container is an article section in the page that provides a detailed information about a topic.
// It may contain heading, image, paragraph, items list and managed in a WYSIWYG editor.
//
//

.gel-content-container {
  padding: 30px 0;
  h2.gel-lead-paragraph {
    margin-bottom: 14px;
    letter-spacing: .01em;
    line-height: 1.43;
    font-size: 1.75rem;

    @media screen and (min-width: $gel-md-min) {
      margin-top: 1.875rem;
      margin-bottom: 0;
      letter-spacing: .03em;
      line-height: 1.36;
      font-size: 2rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }
  p {
    margin: 1rem 0;
  }
}
/* alt background styles */
.background-alt1 {
  background: $gel-concrete;
}
