//
// Download Box
//
// A box that contains download links
// .gel-download-box                      - A container for the download box.
// .gel-download-box-heading              - The heading that appears within the download box.
// .gel-download-box-links-container      - A container for the download links
// .gel-download-box-links--bold          - Font weight for the download links.
//

.gel-download-box {
  border-radius: $download-box-border-radius;
  background-color: $download-box-background;
  padding: $download-box-padding;
  color: $download-box-color;
  font-size: 1rem;
  margin: 20px 0;

  ul{
    margin-top: 0;
    @include reset_list;
  }

  li{
    padding-left: 30px;
    span[class^="gel-icon"] {
      &:before{
        font-family: 'FontAwesomeRegular';
        display: inline-block;
        margin-top: 2px;
        color: #565a5c;
        font-size: 1.5rem;
        vertical-align: bottom;
        padding-right: 10px;
      }
    }
    span.gel-icon-doc:before {
      content: "\f1c2";
    }
    span.gel-icon-pdf:before {
      content: "\f1c1";
    }
    span.gel-icon-file:before {
      content: "\f15b";
    }
    span.gel-doc-properties {
      text-transform: uppercase;
    }
  }
}

/*.gel-download-box-heading {
  line-height: 1.38;
  color: $download-box-heading-color;
  
}
*/
.gel-download-box-links-container {
  line-height: 1.5;
}

.gel-download-box-links--bold {
  font-weight: 600;
  line-height: 2.5rem;
}
