// -------------------
// DRAWER
//
// A user activated tab and panel which sits at the bottom of the screen with a hidden panel. With JS, the panel is shown or hidden by clicking the tab.
//
// -------------------

$gel-drawer-tab-height: $drawer-tab-height;

#drawer_auto {
  margin-bottom: 25px;
}

#drawer_auto1 {
  .gel-eg-stage {

    height: 350px;
  }
}

.gel-drawer {
  position: absolute;
  top: 100%;
  margin-top: -$gel-drawer-tab-height;
  transition: transform 0.4s, margin 0.4s;
  z-index: 2;
  width: 275px;

  [role="tablist"] {
    overflow: hidden;
    width: 100%;
  }
  
  [role="tab"] {
    display: inline-block;
    height: $gel-drawer-tab-height;
    padding: 0 15px;
    line-height: $gel-drawer-tab-height;
    vertical-align: middle;
    color: $drawer-tab-color;
    background-color: $drawer-tab-bg;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 4px 4px 0 0;
    letter-spacing: .03em;
    float: right;


    .gel-connect_icon {
      display: inline-block;
      text-decoration: none;
      margin-top: 3px;
      margin-left: .7rem;
      font-size: 1.5rem;
      position: static;
      top: auto;
      right: auto;

    }

    &:hover,
    &:focus {
      outline: 0;
      background-color: $drawer-tab-bg-action;
      text-decoration: underline;

    }


  }

  [role="tabpanel"] {

    padding: 30px 40px 15px 30px;
    background-color: $gel-off-white;
    max-width: 325px;
    border: $drawer-panel-border;
    clear: both;
 
  }

  &.active {
    transform: translateY(-100%);
    margin-top: 0;
  }

  @media #{$gel-mq-md} {

    width: 325px;
    right: auto;
    left: 50%;
    margin-top: -$gel-drawer-tab-height;
    margin-left: 0;

  }


  @media #{$gel-mq-lg} {

    [role="tab"] {
      transform: translateY(5px);
      transition: transform 0.2s;

      &:hover,
      &:focus {
        transform: translateY(0);
      }
    }

    &.active {
      [role="tab"] {
        transform: translateY(0);
      }
    }
  }



  .drawer-close {
    position: absolute;
    top: 55px;
    right: 5px;
    background-color: transparent;
    border: 0;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 5px 10px;

    &:hover,
    &:focus {
      box-shadow: none;

    }
  }

  &[data-scroll-passed=false] {
    position: fixed;
  }


  &[data-scroll-passed=true] {
    position: absolute;

    [aria-hidden="true"] { 
      visibility: hidden;

    }

    [aria-hidden="false"] { 

      visibility: visible;

    }

  }


  @media screen and (min-width: 1200px) {
    margin-left: 230px;

  }

  .contactPhone {
    text-decoration: none;
    
    &:before {
      font-family: FontAwesomeSolid;
      font-size: 1.25rem;
      margin-right: .5em;
      content: "\f095";
    }
  }

}

.gel-connect {
  margin-bottom: -15px;

}


