// -------------------
// TILE LIST
//
// Provides a container for multiple tiles.
// The width control is set on the container not tile wrappers for CMS integration.
//
//  .gel-expanded-nav                        - The list item container
//  .gel-expanded-nav__item                  - The separate items within the list
//  .gel-expanded-nav__item--alt1            - Item without the description on mobile
//
// -------------------

.gel-expanded-nav {

  .gel-expanded-nav__item {
    padding-top: 10px;
    padding-bottom: 10px;
    .fa, .fas {
      display: none;
    }

    h3 a {
      display: block;
     
      color: $gel-content-header;

      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin-bottom: 0;

      color: $gel-dark-grey;
    }

    &.gel-expanded-nav__item--alt1 {
      .fa, .fas {
        font-family: 'FontAwesomeSolid';
        display: inline-block;
        color: $gel-decoration;
        font-size: 1.5rem;
        line-height: 1.5rem;
        vertical-align: middle;
        font-weight: 400;
      }

      h3 {
        margin-bottom: 0;
        display: inline-block;
      }

      h3 a {
        font-weight: 600;
        font-size: 1rem;
      }

      p {
        display: none;
      }
    }

    @media #{$gel-mq-md} {

      &.gel-expanded-nav__item--alt1 {

        .fa, .fas {
          display: none;
        }

        h3 a {

          font-size: $base-body-font-size; 
        }

        p {
          display: block;
          margin-top: 12px;
        }
      }

    }

    @media #{$gel-mq-lg} {

      h3 a {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }

      &.gel-expanded-nav__item--alt1 {

        h3 a {
          margin-top: 0;
          font-size: 1rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
.expandedNav_default {
  padding: 30px 0;
}

//Grid Layout - 66%
.col-md-8 .gel-expanded-nav {
  @media #{$gel-mq-md} {
    .col-md-3.gel-expanded-nav__item--alt1 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
