/*

gel Featured Teaser pattern

*/
.gel-featured-teaser-link {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    .card-title {
      text-decoration: underline;
    }
  }
}
.gel-featured-teaser-link .gel-featured-teaser.card {
  position: relative;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  transition: border-color 0.2s;
  display: block;
}

.gel-featured-teaser__header {
  margin: 1.5em 0 0;
  text-transform: uppercase;
  font-size: $base-body-font-size;
  font-weight: 800;
}
.gel-featured-teaser__content,
.gel-featured-teaser__content_variant {
  padding: 10px;
  @media #{$gel-mq-lg} {
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s;
    .gel-featured-teaser:hover & {
      background-color: #fff;
    }
  }

}
.gel-featured-teaser__content {
  width: 100%;
  @media #{$gel-mq-lg} {
    position: absolute;
    padding: 15px;
  }
}

.gel-featured-teaser__date {
  font-size: $base-body-font-size;
  font-weight: 600;

  @media #{$gel-mq-xl} {
    font-size: 1rem;
  }
}

.gel-featured-teaser_variant.card {
  @extend .gel-featured-teaser;
  border: 0;
  &:hover {
    border-bottom: 0;
  }
  display: block;
}

.gel-featured-teaser__content_variant {
  padding-top: 45px;
  margin-left: 5px;
  @media #{$gel-mq-lg} {
    padding: 25px;
    margin-top: 25px;
    margin-left: 10px;
  }
}
.gel-featured-teaser__date_variant {
  @extend .gel-featured-teaser__date;
  font-weight: 400;
}

.gel-featured-teaser__price {
  font-size: 1.3rem;
  line-height: 2.18rem;
  margin-bottom: 0;
  font-weight: 500;
  color: $card-text-info;
}

.gel-featured-teaser-font-normal {
  font-weight: 400;
  font-size: 1rem;
}

.gel-featured-teaser_highlight {
  position: absolute;
  background-color: $gel-bright-grey;
  color: #fff;
  font-weight: 600;
  font-size: $base-body-font-size;
  left: 25px;
  margin-right: 25px;
  padding: 5px 10px;
  line-height: 1.4;
  margin-left: -10px;
  margin-top: -45px;
  @media #{$gel-mq-lg} {
    margin-left: 10px;
    margin-top: -50px;
  }
}
.gel-featured-teaser_action {
  padding: 15px;
  border-top: 1px solid $gel-lighter-grey;
  margin: 0 -15px;
}
.gel_featured_teaser_container .gel-form select:nth-of-type(2) {
  margin-top: 45px;
  @media #{$gel-mq-lg} {
    margin-top: 30px;
  }
}
.gel_featured_teaser_container fieldset {
  padding-bottom: 15px;
}
.gel_featured_teaser_container .gel-form select {
  margin-top: 30px;
}
.gel_featured_teaser_container .gel-form label {
  position: absolute;
}
.gel_featured_teaser_pagination {
  .gel-pagination {
    text-align: center;
  }
}

/*

Featured Card SCSS

*/

.gel-featured-teaser.card {
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

.gel-featured-teaser:not(.gel-featured-teaser_variant) {
  border-radius: 0;
  transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  & > .card-img-top {
    border-radius: 0;
    border-bottom: none;
  }

  & > .card-body {
    border-radius: 0;
    border-top: 2px solid $card-border-color;
    background: $card-overlay-background-color;
    color: #fff;

    h2,
    h4,
    p,
    a {
      color: #fff;
    }
  }

  &:hover {
    .card-body {
      background: $card-overlay-background-color-hover;
    }
  }
}

.gel-featured-teaser__content_variant {
  padding: 30px;
  margin-left: 0px;
  @media #{$gel-mq-lg} {
    margin-top: 0px;
    margin-left: 0px;
  }

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  h4 {
    max-height: 6.54rem;
    overflow: hidden;
    margin-top: 0;
  }

  h2,
  h4,
  time {
    color: $card-text-info;
  }

  time {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  p {
    color: $card-text-body;
    max-height: 7.5rem;
    overflow: hidden;
  }
}

.gel-featured-teaser_highlight {
  display: inline-block;
  margin: 0;
  position: relative;
  left: 0;
  margin-bottom: 30px;
}

.gel-featured-teaser_highlight {
  background: $card-highlight-background-color;
}

.gel-featured-teaser__content,
.gel-featured-teaser__content_variant {
  &,
  p {
    font-weight: 400;
  }

  padding: 10px;

  a {
    text-decoration: none;
    color: $gel-content-header;
    display: block;
  }

  @media #{$gel-mq-lg} {
    bottom: 0;
    left: 0;
    background-color: $card-background-color;
    transition: background-color 0.2s;
    .gel-featured-teaser:hover & {
      background-color: $card-background-color-hover;
    }
  }
}

.gel-featured-teaser_action {
  padding: 0;
  border-top: none;
  margin: 0;
}

.gel-featured-teaser__arrow {
  color: $card-action-color;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 3.7rem;
}

.gel-featured-teaser__arrow span {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card:hover .gel-featured-teaser__arrow span {
  transform: translateX(6px);
}

.gel-featured-teaser-link .gel-featured-teaser.card,
.gel-featured-teaser-link .card.gel-featured-teaser_variant {
  transition: border-color 0.2s, box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gel-featured-teaser__arrow {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;

  & span {
    position: absolute;
    bottom: 15px;
  }
}

.gel-featured-teaser_variant {
  transition: box-shadow 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gel-featured-teaser__content_variant {
  .gel-featured-teaser_highlight {
    margin-bottom: 20px; 
  }
}
