// -------------------
// GLOBAL FOOTER
//
// Provides set of global footer styles.
//
//  .gel-global-footer                 - parent container that wraps global footer elements
// -------------------

.gel-global-footer {
	padding: 0;
  background: $gel-lighter-grey;

  .gel-global-footer__logo {
		margin: 40px 0 -10px;
		padding-left: 10px;
		padding-right: 25px;
		position: relative;

		img {
			width: 85px;
			height: auto;
		}

		.gel-corporate-logo__link {
		    display: block;
		    background: transparent;
		    @media #{$gel-mq-bs-lg} {
			    position: absolute;

	    		bottom: 0;
	    		padding-bottom: 40px;
	    	}
		}
	}

  .gel-global-footer__links {
     padding: 40px 15px 20px 0;
  }

  .row {
     margin-left: 0;
 	}
  @media #{$gel-mq-bs-md} {
    .row > *  {
      padding-left: 0;
    }
  }
}
