.gel-GJ-container {
  @media #{$gel-mq-md} {
    display: flex;
    flex-direction: column;
  }

  .gel-skiplink__link {
    position: absolute;
    left: -9999em;
    margin: 0 0 5px 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    background: transparent;
    font-weight: normal;

    &:focus {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
    }
  }
  
  .gel-guided-journey__page:focus {
    outline: none;
  }
}

.gel-GJ-index {
  .fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 15px !important;
    transform: rotate(-90deg) scaleX(-1);

    &:before {
      content: "\f112";
    }
  }
}

.gel_guided-journey__mobile-nav {
  @media screen and (max-width: $gel-md) {
    position: sticky;
    background: $base-body-bg;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 9px 7px -7.5px rgba(0,0,0,0.3);
    height: auto;
    padding: 20px;
    margin-bottom: 35px;
    

    label {
      font-weight: 500;
      letter-spacing: 1px;
    }

    /* TODO: Replace this select element with the gel-select element. */
    .gel-select-wrap {
      position: relative;

      &:after {
        content: "\f078";
        /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
        pointer-events: none;
        /* everything after this is just to cover up the original arrow */
        /* (for browsers that don't support the syntax used above) */
        background-color: #fff;
        padding-right: 5px;
        font-family: "Font Awesome 5 Pro";

        position: absolute;
        right: 14px;
        bottom: 6px;
      }

      &::-ms-expand {
        display: none;
      }
    }

    select {
      z-index: 1;
      margin: 0;
      width: 100%;
      display: block;
      padding-left: 10px;
      padding-right: 50px;
      margin-top: 15px;
      margin-bottom: 20px;
      appearance: none;
      outline: none;
      border: 1px solid $gel-black;
      border-radius: 4px; 

    }

    button {

      width: 100%;

    }
  }
}


.gel-GJ-main {
  margin-top: 30px;

  @media #{$gel-mq-md} {
    margin-top: 60px;
    padding-bottom: 30px;
  }

  *:first-child[tabindex="0"] {
    outline: none;
  }

  .gel-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media #{$gel-mq-md} {
      display: block;
      margin-top: 60px;
    }

    &__prev {
      padding-left: 38px;

      @media #{$gel-mq-md} {
        padding-left: 45px;
      }
      
      i { left: 20px; }
    }

    &__next {
      padding-right: 38px;

      @media #{$gel-mq-md} {
        padding-right: 45px;
      }

      i { right: 20px; }
    }

    .button {
      position: relative;
      margin-top: 0;
      text-transform: none;
      width: calc(50% - (45px / 2)) !important;
      font-size: 1.125rem;
      font-weight: $button-font-weight;

      @media #{$gel-mq-md} {
        width: auto !important;
      }
    }

    i {
      position: absolute;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .lead {
    margin-bottom: 45px;
    padding-bottom: 0;

    @media #{$gel-mq-md} {
      margin-bottom: 60px;
    }    
  }

  h3 {
    margin-top: 1.875rem;

    @media #{$gel-mq-md} {
      margin-top: 2.81rem;
    }
  }

  h4 {
    margin: 1.875rem 0 1.25rem;

    @media #{$gel-mq-md} {
      margin: 2.81rem 0 1.875rem;
    }
  }

  *+p {
    margin-top: 1.25rem;

    @media #{$gel-mq-md} {
      margin-top: 1.875rem;
    }
  }
}

.gel-GJ-title {
  margin: 45px 0 30px;

  .gel-main article & {
    @media #{$gel-mq-md} {
      margin-top: 74px;
    }
  }
}