//
// Iframe
//

.gel-script {
  iframe {
    display:block;
  }
  .gel-script__iframe--caption, .gel-script__iframe--error {
    background-color: $gel-off-white;
    padding: 15px 10px;
    position: relative;
  }
}
