// -------------------
// LANDING HEADER
//
// Provides set of styles for a landing header.
//
// .gel-landing-header                - container to list teasers
//
// -------------------

.gel-landing-header {
  position: relative;
  padding: 30px 0;
}

.gel-landing-header__lead {
  color: $gel-black;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;

  @media #{$gel-mq-bs-md} {
    margin-top: 15px;
  }

  @media #{$gel-mq-bs-lg} {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
