

.gel-link-columns-desc {

  border-bottom: 1px solid $gel-lighter-grey;
  padding: 12px 25px;

  @media #{$gel-mq-md} {
    border: none;
    padding: 0;
  }

  @media (max-width: 992px) { 
    margin-left: -15px;
    margin-right: -15px;
  }

  .gel-link-columns-desc-header {
    width: 100%;

    @media #{$gel-mq-md} {
      padding-top: 20px;

      margin: 0;
    }

    a {
      padding-right: 2.25rem;
      position: relative;
      display: block;

      &:before {
        position: absolute;
        font-family: 'FontAwesomeSolid';
        content: "\f105";
        right: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 1.5rem;
        font-weight: 400;
        line-height: normal;
        transform: translateY(2px);

        @media #{$gel-mq-md} {
          display: none;
        }

      }
    }
  }

  h3 {
    margin-bottom: 20px;
  }
  .gel-link-columns-desc-main {
    display: none;

    @media #{$gel-mq-md} {
      padding: 20px 0;
      display: flex;
    }


    .gel-description {
      padding-right: 35px;
    }

  }

  .gel-link-columns-desc-alltopics {
    display: block;
    color: #041e42;
    text-align: right;
    margin-top: 20px;

  }

  .gel-link-columns {

    .gel-link-columns__items li {
      padding-right: 25px;
    }
  }

}
