//No parent class for GEL list as this is a standard HTML element
ul, ol {
  list-style: none;
  padding: 0;

  margin-bottom: 1.25rem;

  & + ul,
  & + ol {

    margin-bottom: 1.25rem;
  }

  li {
    position: relative;
    padding-left: 30px;
    margin-top: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gel-global-footer & {
    margin-top: 0;
  }
}

ul,
.gel-tabs > ul > li ul {

  li:before {
    position: absolute;
    left: 0;
  }


  > li {
    &:before {
      content: "\2022";
      position: absolute;
      left: 0;
    }
  }

  > li > ul,
  > li > ol {
    margin-top: 15px;
  }

  ul > li {

    &:before {
      content: "\25E6";
    }

    ul > li {
      &:before {
        content: "\2B1D";
      }
    }

  }

  ol {
    counter-reset: o;

    > li:before {
      counter-increment: o;
      content: counter(o, lower-alpha) ".";
      position: absolute;
      left: 0;
      font-weight: 700;
    }
  }
}

ol,
.gel-tabs > ul > li ol{
  counter-reset: i;

  > li:before {
    counter-increment: i;
    content: counter(i) ".";
    position: absolute;
    left: 0;
    font-weight: 700;
  }

  > li > ul,
  > li > ol {
    margin-top: 0;
  }

  ol {
    counter-reset: o;

    > li:before {
      counter-increment: o;
      content: counter(o, lower-alpha) ".";
      position: absolute;
      left: 0;
      font-weight: 700;
    }

    ol {
      counter-reset: u;

      > li:before {
        counter-increment: u;
        content: counter(u, lower-roman) ".";
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
  }

  ul > li {

    &:before {
      content: "\25E6";
    }

    ul > li {
      &:before {
        content: "\2B1D";
      }
    }
  }
}
