// -------------------
// RIBBON
//
// A thin box which displays important information in a show-hide format designed to inform the user.
//
// .gel-maintenance-ribbon                          - Container for the header and content
// .gel-maintenance-ribbon__message               - The main message and title for the ribbon
//
// -------------------


.gel-maintenance-ribbon {
  background-color: $gel-light-grey;
  position: relative;
  overflow: hidden;
  padding: 6px 0 9px;
  border-bottom: 1px solid #fff;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $gel-medium-grey;
  }

  @media #{$gel-mq-md} {
    padding: 8px 0;
  }

  .gel-maintenance-ribbon-container {
    max-width: $gel-max-width;
    margin: auto;
    padding: 0 25px;
    @media #{$gel-mq-lg} {
      padding: 0;
    }
  }

  .gel-maintenance-ribbon__message {
    font-size: $base-body-font-size;
    margin-bottom: 0;
    font-weight: $base-heading-font-weight;
    cursor: pointer;
    a {
      color: $gel-color-font-dark;
      text-decoration: underline;
      font-weight: $base-heading-font-weight+200;
      &:hover {
        text-decoration: none;
      }
    }
    @media #{$gel-mq-lg} {
      font-size: $base-body-font-size;
    }
  }

}

.gel-maintenance-ribbon-new {
  background-color: $gel-light-grey;
  border-radius: 0;
  padding: 6px 0 9px 20px;
  font-size: $base-body-font-size;
  font-weight: 600;

  @media #{$gel-mq-md} {
    padding: 8px 20px;
  }
  @media #{$gel-mq-lg} {
    font-size: $base-body-font-size;
  }
}
