// ********************************************
//-----------------------------
//    GEL Mobile Menu
// -----------------------------
//
//  .gel-mobile-nav    - Main mobile menu class for GEL
//  .mm-(*)  - Any class which starts with mm is used here for customising mmenu.js classes
//
// **********************************************


nav.gel-mobile-nav {
    display: none;
    visibility: hidden;
}
// .gel-mobile-nav-indicator{
//     @media screen and (min-width: 992px) and (max-width: 1023px) {
//         display:block !important; // Have to use important here to override boostrap's .d-lg-none class
//         visibility: visible;
//     }
// }

//Body level styling outside the megamenu

.mm-wrapper_opening {
    nav#gel-mnav {
        visibility: visible;
    }

    .mm-menu_offcanvas.mm-menu_opened {
        display: block;
    }

    .mm-menu_offcanvas {
        z-index: 3;
    }

    .gel-main {
        visibility: hidden;
    }

    body {
        overflow: hidden;
        overflow-x: hidden;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}


// Megamenu sandwich button styling

.gel-mobile-nav-indicator_icon {
    &:before {
        font-family: 'FontAwesomeSolid';
        font-size: 25px;//36px;
        content: "\f0c9";
        color: #000;
    }
    text-decoration: none;
}

//mmenu.js classes
.b-mobile-nav--menu-btn {
    padding: 0 15px;

    &:hover {
        text-decoration: none;
    }
}

.b-mobile-nav .b-mobile-nav--menu-btn.right {
    right: 0;
}

.b-mobile-nav .b-mobile-nav--menu-btn.left {
    left: 0;
}


.mm-wrapper_opening {
    .gel-mobile-nav_icon-close {
        visibility: visible;
    }
    .gel-section-header{
        visibility:hidden;
    }
    .gel-global-header-container{
        visibility:hidden;
    }
    .gel-search {
        visibility:hidden;
    }
}

.mm-opened {
    .b-mobile-nav--menu-btn {
        visibility: hidden;
    }

}

.gel-mobile-nav {
    background-color: #b4b4b4;
    --mm-color-background: #b4b4b4;
    color: #000;

    .gel-mobile-nav_icon-close {
        position: relative;
        z-index: 23;
        left: 103%;
        top: 30px;
        background: #000;
        border: #000;

        //left: 70%;
        position: relative;

        @media screen and (min-width: 580px) and (max-width: 768px) {
            left: 105%;
        }

        // @media screen and (min-width: 726px) and (max-width: 768px) {
        //    left: 55%;
        //}
        &:before {
            font-family: 'FontAwesomeSolid';
            font-size: 22px;
            position: relative;
            z-index: 23;
            content: "\f00d";
            color: #ffff;
            display: block;
        }
    }

    .mm-listitem:after {
        margin-left: -20px;
    }

    .mm-listitem__text {
        white-space: unset;
    }

    .mm-panels .mm-panel:first-child {
        .mm-navbar {
            visibility: hidden;
        }
    }

    .gel-mobile-nav_header {
        display: block;
        flex-wrap: unset;
        padding-bottom: 15px;
        margin-top: -50px;
    }

    .gel-mobile-nav_list-links {
        .mm-listitem {
            color: #000;

            &__text {
                font-weight: 500;
            }

        }

        .mm-btn_next:after {
            border-color: #4B4848;
        }


    }

    .gel-mobile-nav_list-links-intro {
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 1px;
        display: block;

        .mm-listitem__text {
            padding-left: 0;
        }
    }


    .mm-btn_prev:before {
        border-color: #4B4848;
    }

    .mm-navbar__title {
        border-color: #4B4848;
    }

    .mm-list>li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
        margin-left: unset
    }

    .mm-list>li>a,
    .mm-list>li>span {
        font-size: 16px;
        font-weight: 500;
    }

    .mm-menu .mm-list>li>a.mm-subopen:after,
    .mm-menu .mm-list>li>a.mm-subclose:before {
        border-color: #000;
    }

    .gel-mobile-nav_header-logo-image {
        width: 20%
    }

    .gel-mobile-nav_header-lead {
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 15px;
    }

    .gel-mobile-nav_header {
        .gel-mobile-nav-heading {
            font-size: 24px;
            margin-left: 20px;
            margin-right: 15px;
            line-height: 1.5rem;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    .mm-menu .mm-list>li>a.mm-subclose {
        color: #000;
    }

    .gel-mobile-nav_intro {
        padding: 10px 10px 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        h3 {
            color: #000;
        }
    }

    #gel-mobile-nav_header-lead-dialog {
        display: none;
    }

    li:before {
        content: "";
    }
}

.mm-menu .mm-list>li>a.mm-subopen:after,
.mm-menu .mm-list>li>a.mm-subclose:before {
    border-color: #000;
}

.mm-menu .mm-list>li>a.mm-subclose {
    color: #000;
}

.mm-wrapper_opening [class*=mm-menu_pagedim].mm-menu_opened~.mm-wrapper__blocker {
    opacity: .6;
    z-index: 2;
}

.mm-listitem_selected>.mm-listitem__text {
    background: unset;
}
