.gel-meganav {
    background-color: #b4b4b4;
    padding-bottom: 0;
    padding-top: 0;

    .show {
        background-color: #fff;

    }

    .meganav-li {
        position: static;
    }

    .dropdown-menu {
        border-radius: 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
        color: unset;
        border: 0;
        .card-columns {
          column-count: 2;
          @media #{$gel-mq-bs-lg} {
          column-count: 3;
          }
        }
    }

    .meganav {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        padding: 15px;
        margin-left: 15px;
    }

    &_dropdown {
        padding: 0;
        top: 99%;
        @media #{$gel-mq-bs-lg} {
          padding: 10px;
        }
    }

    .gel-meganav_dropdown__subnav {
        z-index: 999999;
        margin-top: 0;

        .gel-meganav_dropdown__subnav-title {
            padding-left: 25px;
            font-size: 24px;
            line-height: 1.36;
            margin-top: 0.875rem;
            letter-spacing: .03em;
            color: #000;
            font-weight: 600;

            .gel-meganav_dropdown__subnav-title-link {
                color: $gel-black;
                &:focus {
                    outline: 1px solid #000;
                }
            }
        }

        &-desc {
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 10px;
            margin-bottom: 25px
        }

        &-design {
            border-bottom: 1px solid black;
            //margin-right:28px;
        }
    }

    ul li {
        list-style-type: none;
    }

    ul>li:before {
        content: none;
    }

    .dropdown-toggle {
        white-space: unset;
        white-space: normal;
    }

    .nav-link {
        font-size: $base-body-font-size;
        font-weight: 600;
        color: black;
        background-color: unset;
        border: none;
        text-align: left;
        background: none;

        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: 1px solid #000;
        }
    }

    .nav-item {
        position: static;
    }

    .navbar-nav {
        margin-top: 0;
    }

    .gel-meganav-logo {
        padding-top: 10px;
        padding-bottom: 10px;
        @media screen and (min-width: $gel-md-min) and (max-width: $gel-lg-max) {
            padding-top: 25px;
        }
        &__image {
            width: 100%;
            @media screen and (min-width: 768px) and (max-width: 991px) {
              width: 70%;
            }
        }
        &__link {
            width: 100%;
            &:focus{
                outline: 1px solid #000;
            }

        }
    }

    .gel-meganav-mega-link {
        break-inside: avoid;
        box-sizing: content-box;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        min-width: 235px;
        min-height: 60px;
        overflow: visible;

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            ::i-block-chrome {
                display: inline-block;
            }
        }

        a:hover {
            color: #000
        }

        a:focus {
            outline: 1px solid #000;
            display: inline-block;
            margin-top: 1px;

            &:after {
                display: inline;
            }
        }

    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) {

        _::-webkit-full-page-media,
        _:future,
        :root,
        .gel-meganav-mega-link {
            display: inline-block;
        }
    }

    .gel-meganav-mega-link_title {
        font-size: $base-body-font-size;
        color: #000000;
        font-weight: 400;
        background-color: unset;
        border: none;
        text-align: left;
        background: none;

    }

    .gel-meganav-mega-link_title-icon:before {
        padding-left: 5px;
        content: "\f105";
        font-family: FontAwesomeSolid;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        color: #000;
        margin-right: -24px;

    }
    // @media screen and (min-width: 990px) and (max-width: 1023px) {
    //     display:block;
    //     visibility: hidden;
    //     height:0;
    // }
}
