/*

gel News Teaser pattern

*/

.gel-news-teaser {
  margin-bottom: 0;
  border-top: 1px solid $gel-lines;
  padding: 10px 10px 20px;
  transition: background 0.2s, border-color 0.2s;
  background-image: linear-gradient(to bottom, transparent, transparent);

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    border-top-color: $gel-decoration;
  }

  @media #{$gel-mq-md} {
    display: flex;
    padding: 15px;
  }

  @media #{$gel-mq-lg} {
    li:first-child & {
      margin-top: 50px;
    }
  }
}

.gel-news-teaser__date {
  font-size: $base-body-font-size;
  font-weight: 600;
  color: $gel-dark-grey;

  @media #{$gel-mq-md} {
    font-size: $base-body-font-size;
    width: 30%;
  }

  @media #{$gel-mq-xl} {
    font-size: $base-body-font-size;
  }
}

.gel-news-teaser__content {

  h2 {
    margin-bottom: 0.5em;
    line-height: 1.4;
  }

  h4 {
    margin-top: 0;
  }

  a {
    color: $gel-content-header;
  }

  p {
    font-size: $base-body-font-size;
    margin-bottom: 0;
  }

  @media #{$gel-mq-md} {
    width: 70%;

    p {
      font-size: 1rem;
    }
  }
}
