//
// Results Table
//
// Styling for Results Table
//
// @extend .uk-icon-chevron-right   - Takes UIKIT's right chevron icon and applies it to the list item's before attribute
// .gel-results-table - Main container
//

.gel-results-table {
  color: $gel-results-table-color;
  font-family: $gel-results-table-font-family;
  font-size: $base-body-font-size;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  margin-top: 0px;

  .gel-results-table-item {
    padding: 20px 0;
    border-bottom: 1px solid $gel-lighter-grey;

    .gel-results-table__paragraph {
      padding-bottom: 10px;
      display: block;
    }

  }

  .gel-results-table-item-without-link {
    >div {
      padding-top: 35px;
      padding-bottom: 35px;
      border-bottom: 1px solid $gel-lighter-grey;
    }
  }

  .gel-results-table__heading {
    background-color: $gel-results-table-heading-bgcolor;
    color: $gel-results-table-heading-color;
    font-size: $base-body-font-size;
    font-weight: $gel-results-table-bold;
    line-height: 1.67;
    padding: 5px 0 5px;
    min-height: 35px;
  }

}

.gel-results-table__link-text {
  font-size: 1rem;
  font-weight: $gel-results-table-bold;
  line-height: 1.5;
  color: $gel-results-table-link-text;
  display: inline-block;
  padding-right: 7px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $gel-black;
  }
}

.gel-results-table__code-text {
  line-height: 1.29;
  color: $gel-results-table-link-text;
  display: block;
}

.gel-results-table__download-text {
  font-size: $base-body-font-size;
  font-weight: $gel-results-table-bold;
  line-height: 1.57;
  color: $gel-results-table-color;
  padding-right: 7px;
  display: inline-block;
}

a.gel-results-table__download-text {
  padding-left: 15px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: $gel-black;
  }
}

span.gel-results-table__download-text{
  padding: 5px 0;
}
span.gel-results-table__chevron{
  &:before{
    font-family: 'FontAwesomeSolid';
    color: #565a5c;
    font-size: .75rem;
    padding-top: 2px;
    left: 15px;
    content: "\f054";
    position: absolute;
  }
}

.gel-results-table__download-text--light {
  font-weight: 300;
  display: block;
  padding-left: 28px;
}

.gel-results-table__AtoZ {
  font-weight: $gel-results-table-bold;
  line-height: 1.36;
  text-align: left;
  color: $gel-results-table-letter-color;
  margin-bottom: 0px;
}
