.gel-section-footer{

    padding-top:15px;
    //padding-bottom:15px;
.gel-section-footer__variation-1{
    background-color:$gel-light-grey;
    padding-top:15px;
    padding-bottom:15px;
    .gel-acknowledgement{
.container{
    padding-left:0;
}
    }
    h3{
        font-weight: 400;
    }
}
.gel-section-footer__variation-2{
    background-color:$gel-light-grey;
    h3{
        font-weight: 400;
    }
    .gel-acknowledgement{
        margin-top:20px;
        padding-top:20px;
        padding-bottom:10px;
        background-color: $gel-grey-v2;
    }
}
.gel-section-footer__variation-3{
    background-color:$gel-light-grey;
    h3{
        /*margin-top:20px;
        margin-bottom:20px;*/
        font-weight: 400;
    }
    .gel-acknowledgement{
        margin-top:20px;
        padding-top:20px;
        padding-bottom:10px;
        background-color: $gel-grey-v2;
    }
}
}