

.gel-secondary-anchor-box{

    
    

    .gel-secondary-link-list{
        a{color:$gel-black;}
    }
    li{
    padding-left: 0;
    &:before{
        content:"";
        
    }
}
.anchor-level1 ul li:before {
    content: none;
  }
  
  .gel-secondary-link-list-child{
    padding-left:20px
  }
}