.gel-select {
  margin-bottom: 1rem;
  select {
    border: 1px solid $color-grey-60;
    padding: 8px 12px;
    font-weight: 300;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: $gel-black;
    background-color: $gel-white;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 42px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    &:focus {
      border-color: $gel-black;
      box-shadow: 0 0 0 1px $gel-black;
      -webkit-box-shadow: 0 0 0 1px $gel-black;
      outline: none;
    }

    &:hover {
      border-color: $gel-bright-grey;
      box-shadow: 0 0 0 1px $gel-bright-grey;
      -webkit-box-shadow: 0 0 0 1px $gel-bright-grey;
      outline: none;
    }

    &::-ms-expand {
      display: none;
    }
  }
  &:after {
    content: "\f078";
    float: right;
    margin-top: -32px;
    margin-right: 16px;
    /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
    pointer-events: none;
    /* everything after this is just to cover up the original arrow */
    /* (for browsers that don't support the syntax used above) */
    background-color: #fff;
    padding-right: 5px;
    font-family: "Font Awesome 5 Pro";
  }
}
