/*******************************
* Showhide WITH TOGGLE ICONS
*******************************/

.gel-show-hide {
    margin-bottom: 30px;
    .card {
        margin-bottom: 15px;
    }
    
    .card,
    .card-header {
        box-shadow: none;
        border: 0;   
    }
    
    .card:hover {
        box-shadow: none;
    }

    .card-header {
        padding: 0;
        padding-bottom: 0;
        padding-right: 0;
        background-color: unset;
    }
    .card-body{
        background-color: #f2f2f2;
    }

    .gel-show-hide_title {
        margin: 0;
        background-color: #b4b4b4;

        i {
            display: block;
            position: absolute;
            right: 1rem;
            width: 12px;
            height: 4px;
            margin: 12px 0 0;
            background: #000;
            transition: transform 0.5s;
            transform-origin: 6px 2px 0;
            &.vertical {
                transform: rotate(90deg);
                .gef-ie9 & {
                    margin: -2px 0 0;
                }
            }
            .gef-ie9 & {
                margin: -2px 0 0 -2px;
            }
            @media screen and (max-width: 768px) {
                right: 1rem;
            }
        }

        .gel-show-hide_link {
            color:$gel-black;
            background: none;
            border: none;
            display: block;
            padding: 10px 45px 10px 15px;
            text-decoration: none;
            text-align: left;
            margin-bottom:5px;

            &[aria-expanded=true] {

                i {

                    &.vertical {
                        transform: rotate(180deg);
                    }
                }
                background-color: #e0e0e0;
                color: #000;
                text-decoration: underline;
            }
            &:hover {
                background-color: #e0e0e0;
                color: #000;
                text-decoration: underline;
            }
            &:focus {
                outline: 1.4px solid black;
                outline-offset: 2px;
            }
        }
        i {
            width: 12px;

            @media screen and (min-width: 1024px) {
                width: 16px;
                -ms-transform-origin: 8px 2px 0;
                transform-origin: 8px 2px 0;
            }
        }
    }
}

.gel-show-hide--alt1 {
  border-bottom: $showhide-alt1-border;

  .card {
    margin: 0;
  }

  .card-header {
    border: none;
  }

  .card-body {
    background: none;
    padding: 8px 0 40px 0; 
  }

  .gel-show-hide_title {
    border: none;
  }

  .gel-show-hide_title {
    background: $showhide-alt1-title-background;

    .gel-show-hide_link{
      border-top: $showhide-alt1-border;
      position: relative;
      padding: 20px 0px;
      padding-right: 60px;
      margin-bottom: 0;

      &, &:hover, &:focus, &[aria-expanded=true] {
        background: $showhide-alt1-title-background;
        color: $showhide-alt1-title-color;
      }

      &:focus {
        outline: $showhide-alt1-focus-outline;
        z-index: 2;
        outline-offset: 2px;
      }

      &.collapsed {
        i:after {
          content: '\f078';
        }
        border-bottom: none;
      }
    }

    i {
      width: 0px;
      height: 0px;
      padding-right: 20px;
      background: none;
      margin-top: 0;

      &:after {
        content: '\f077';
        font-family: 'FontAwesomeSolid';
        font-style: normal;
        font-size: 16px;
      }

      &.vertical {
        display: none;
      }
    }
  }
}


/* styling for AEM component to fix rendering issues when dropping individual showhides */
.aem-GridColumn.showhide-v2 {
  .gel-show-hide--alt1 {
    margin-bottom: 0;
  }

  & + .showhide-v2 {
    /* extra pixel is to manage every .gel-show-hide maintaining the same width border */
    margin-top: -26px;
  }

  /* implements the margin-bottom that was on the .gel-show-hide element */
  margin-bottom: 25px;
}
