.gel-social-icons-panel {
    margin-top: 20px;
}

.gel-social-icons-panel_links {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;

    .gel-social-icons-panel_links-list {
        display: inline-block;
        padding: 0;

        &:before {
            content: "";
        }

        a {
            text-decoration: none;

        }

        .gel-social-icons-panel_links-list-icon {
            text-align: center;
            float: left;
            width: 55px;
            height: 55px;
            border: 1px solid #041e42;
            border-radius: 100%;
            margin-right: 14px;
            background: #fff;
            margin-bottom: 15px;
            color: $gel-black;
            text-decoration: none;
            
            &:hover {
                color: $gel-bright-grey;
                border: 1px solid $gel-bright-grey;
                text-decoration: none;
            }


        }

        @media screen and (max-width: 768px) {
            .gel-social-icons-panel_links-list-icon {
                width: 45px;
                height: 45px;

                span {
                    &:before {
                        font-size: 1.825rem;
                    }
                }
            }

        }


        &-facebook {
            &:before {
                content: "\f09a";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }

        &-instagram {
            &:before {
                content: "\f16d";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }

        &-twitter {
            &:before {
                content: "\f099";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }

        &-linkedin {
            &:before {
                content: "\f0e1";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }

        &-youtube {
            &:before {
                content: "\f167";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }

        &-yammer {
            &:before {
                content: "\f840";
                font-family: 'FontAwesomeBrands';
                font-size: 2.325rem;
            }

            &:hover {
                color: $gel-bright-grey;
            }
        }
    }
}