.gel-social-media {
  &__card {
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.27);
    }

    .gel-card__header {
      padding-left: 95px;
      padding-top: 12px;
      padding-bottom: 9px;
    }
  }

  &__header {
    padding-left: 95px;
  }

  &__avatar {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    left: 14px;
    bottom: -11px;

    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.22);
    background-color: #FFF;
    z-index: 1;
    overflow: hidden;
  }

  &__content {
    padding-bottom: 20px;
  }

  &__name, &__post-link, &__footer-link {
    font-weight: 600;
  }

  &__post-link .gel-external-link:before {
    padding-left: 8px;
    color: $card-border-color;
  }
}
