table {
  overflow-x: auto;
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;

  @media #{$gel-mq-md} {
    display: table;
  }
  caption {
    caption-side: top;
    font-family: montserrat,Arial,sans-serif;
    font-size: 1rem;
    color: #000000;
    padding-bottom: 10px;
  }

  th {
    text-align: left;
    font-weight: 700;
    padding: 5px 10px 5px;
  }

  thead {
    th {
      border-bottom: 2px solid $gel-dark-grey;
    }
  }
  tbody {
    th {
      border: 1px solid $gel-dark-grey;
    }
  }
  td {
    border-bottom: 1px solid $gel-dark-grey;
    padding: 10px 10px;
  }

  td, th {
    vertical-align: top;
  }
}




.gel-table--more-than-five-rows {
  table {
    tbody {
      tr {
        td {
          border-bottom: 0;
        }
      }
      tr:nth-child(even) {
        background-color: $gel-concrete;
      }
    }
  }
}


.gel-table--with-border {
  table {
    border: 1px solid $gel-dark-grey;
    tbody {
      tr {
        td {
          border: 1px solid $gel-dark-grey;
        }
      }
    }
  }
}
