.gel-toc {
  @include reset_list;
  margin: 20px 0;

  &.top-border:before {
    content: '';
    display: block;
    width: 100%;
    margin: 5px auto 20px;
    height: 3px;
    background-color: #f7f8f9;
  }

  @media #{$gel-mq-md} {
    overflow: auto;
  }
}

.gel-toc_item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 40px;


  .gel-toc-list-icon {

    &:before {
      font-family: 'FontAwesomeSolid';
      display: inline-block;
      color: $gel-decoration;
      content: "\f105";
      padding-right: 10px;
      margin-left: 10px;
      font-size: 1.1rem;

      @media #{$gel-mq-lg} {
        font-size: 1.25rem;
      }
    }

  }

  a,
  a:visited {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    color: $gel-secondary-text;
    position: relative;
    padding-left: 0;

    &:hover,
    &:focus {
     outline: 1px solid black;
     outline-offset: 1px;
    }

    i {
      position: absolute;
      left: -40px;
      top: 5px;
      color: $gel-decoration;
    }
  }

  @media #{$gel-mq-md} {
    width: 50%;
    float: left;
  }

  @media #{$gel-mq-lg} {
    margin-bottom: 15px;

    a,
    a:visited {
      font-size: 1.25rem;
      line-height: 1.875rem;
      padding-left: 35px;


      i {
        top: 7px;
        font-size: 0.9em;
      }
    }
  }
}
