.gel-tags {
  .badge-default {
    color: #fff;
    background-color: #565a5c;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .gel-tags__title {
    display: inline-block;
  }

  .gel-tags__list {
    @include reset_list;
    margin: 0.3rem 0 0;
    display: inline-block;
    padding-left: 0;

    li {
      margin: 0;
      display: inline-block;

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}
