
.gel-teaser-block {
  margin-bottom: 30px;
  .gel_teaser_default_container {
    background-color: #fff;
    padding: 30px 25px;
  }
}

.gel-teaser {
  margin-top: 1.25rem;
  
  img {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    height: auto;
  }

  .desc {
    display: block;
    margin-top: 20px;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;

  }
  a{
    display:block;
  }
}

.gel-teaser__category  {
  padding-bottom: 10px;
  margin-bottom: 8px;
  color: $gel-content-header;
  border-bottom: 2px solid $gel-decoration;
  font-size:$base-body-font-size;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gel-teaser__heading {
  color: $gel-content-header;
  display: block;
  margin: 10px 0;
  overflow: hidden;

  @media #{$gel-mq-md} {
    height: 30px;
  }
}
