//- This string is cherry picked to build a piece of content
- var text = "One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. What's happened to me? he thought. It wasnt a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table. Samsa was a travelling salesman. and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. How about if I sleep a little bit longer and forget all this nonsense, he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldnt get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before. Oh, God, he thought, what a strenuous career it is that Ive chosen! Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that theres the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. It can all go to Hell! He felt a slight itch up on his belly; pushed himself slowly up on his back towards the headboard so that he could lift his head better; found where the itch was, and saw that it was covered with lots of little white spots which he didnt know what to make of. And when he tried to feel the place with one of his legs he drew it quickly back because as soon as he touched it he was overcome by a cold shudder.";

//- Regex to split text into sentences
- var regex = /([A-Za-z\,\s]+\.\ )/g;
//- Saves the position of which sentence we're drawing content from
- var marker = 0;
//- Turn text into an array of sentences
- var arr = new Array();
- arr = text.match(regex);

//- Output the content based on the options passed into the mixin
mixin text-gen(amount, format, sentence)

  //- Reset marker if it's passed length of sentences
  - if (marker >= arr.length - 3) {
    - marker = 0;
  - }

  //- Our content to output
  - var output = "";

  //- Output characters
  - if (format === "characters") {
    //- Get X (amount) of characters to output
    - output = arr[marker].substr(0, amount);
    //- Remove formatting if set to false
    - if (sentence === false || sentence === undefined) {
      - output = output.split(",").join("");
      - output = output.split(".").join("");
    - } else {
      - if (output.slice(-1) == " ") {
        - output = output.slice(0, -1);
      - }
      - output = output + ".";
    - }
    - marker = marker + 1;

  //- Output words
  - } else if (format === "words") {

    //- Get some sentences to draw content from
    - var collection = arr[marker] + arr[marker+1] + arr[marker+2];
    - collection = collection.split(" ");
    //- Grab X (amount) of words;
    - for (var i = 0; i < amount; i++) {
      - output += collection[i] + " ";
    - }
    //- Remove formatting if set to false
    - if (sentence === false || sentence === undefined) {
      - output = output.split(",").join("");
      - output = output.split(".").join("");
    - } else {
      - if (output.slice(-1) == " ") {
        - output = output.slice(0, -1);
      - }
      - output = output + ".";
    - }
    //- Update the marker
    - marker = marker + 3;

  //- Output sentences
  - } else if (format === "sentences") {

    //- Get X (amount) of sentences
    - for (var i = marker; i < marker+amount; i++) {
      - output += arr[i];
    - }
    //- Update the marker by X (amount)
    - marker = marker + amount;
  - }

  //- output what the dev asked for
  =output
