//--- *************** ---//
//--- CATALOGUE TEASER ---//
//--- *************** ---//

- var name = "Catalogue teaser"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A 'teaser' for the catalogue component, consists of a thumbnail, heading, text and money amount

mixin usage
  h4 Using pug:
    | @param {int} type - determine which teaser layout you would like to use. Options are "default" and "block"

  pre
    code.language-pug
      | +gel_catalogue_teaser("block")


mixin output
  +gel_catalogue_teaser("block")


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_catalogue_teaser(type)
  a(href="#" class="gel-featured-teaser-link d-flex flex-1 mb-3")
    div.card(data-pseudo-link class="gel-featured-teaser_variant")
      img.img-fluid.card-img-top(src="//placehold.it/1200x900/", alt="")

      div.card-body(class="gel-featured-teaser__content_variant")       
        h4.card-title
          +lipsum(5, "words", true)

        p
          +lipsum(15, "words", true)
      
        p.gel-featured-teaser__price
          | $XXX.XX <span class="gel-featured-teaser-font-normal">(exc. GST)<span>

        div.gel-featured-teaser__arrow
          span.far.fa-long-arrow-right
