include ./guided-journey-elements.pug

mixin gel_guided-journey_content_introduction
  +gel_guided-journey_page('landing')
    p.lead
      | This guideline can be used by navigating through any part via the menu or by using the previous and next buttons at the bottom of the page.
    h2 Introduction
    h3 What is this?
    p
      | This is a policy guideline that requires schools to develop protection, prevention, early intervention and response strategies for student bullying in NSW Government Schools.
    h3 Who is it for?
    p
      | Teachers wanting to create, manage, and implement anti- bullying measures in the school and school community.
    p Parents who wish to understand the stra tegic approach.
    h3 How to use it?
    p
      | Collaborate with your senior staff members to formulate a plan using this online guideline.
    h4 Download PDF
    p
      a(href='#') Anti-bullying guidelines.pdf
    a.gel-skiplink__link(href='#back_') Back to menu

mixin gel_guided-journey_content_asset_1
  +gel_guided-journey_page('/asset1')
    h2 Form a school team
    p
      | The role of the school team is to facilitate the development and revision process. The team should be led by the principal or their nominee, who remains responsible for the final decisions relating to the school Anti- bullying Plan.
    p
      | It is important to have representatives from across the schools, including teachers, executive, students and parents, as well as other community members. It is also important to ensure representation for those students who have special needs or who are at risk due to their cultural, ethnic or socioeconomic background.
    h3
      | Focus questions
    p
      | Who are the key stakeholders in our school community?
    p
      | * How will you ensure representation from the whole school community?
    p
      | * What expertise is required to assist the team to successfully complete its task?
    p
      | * How should the team members be selected?
    p
      | Groups to consider include students; staff; parents; and community members (eg community organisations that work with the school, and the cultural groups that make up the school community).

mixin gel_guided-journey_content_asset_2
  +gel_guided-journey_page('/asset2')
    h2 Engage the school community
    p
      | School communities need to work together to recognise, challenge and change inequalities that fuel bullying and harassment within the school and to build trust and respect between all groups.
    p
      | By doing this, we are better placed to meet the needs of all students and contribute to a socially just environment.
    p
      | The school team should undertake ongoing and wide consultation with the school community. The team should present the information it has gathered, and the plan it is developing, to the school community for consideration at various stages throughout the process.
    h3 Focus questions
    p
      | * How will you achieve a whole school approach that engages all sectors of the school community?
    p
      | * At what stages throughout the process will the school community be consulted?
    p
      | * What data will be presented? (Consider sensitivity and privacy issues related to some data).
    p
      | * What questions should be asked to facilitate understanding and generate ideas? (Especially important for developing shared understanding of some issues including protection and prevention, online bullying, power relationships, bystander issues and response to bullying issues).
    p
      | * How will perceived concerns be addressed?

mixin gel_guided-journey_content_asset_3
  +gel_guided-journey_page('/asset3')
    h2 Develop a ‘statement of purpose’
    p
      | A 'statement of purpose' should be included at the beginning of the school's Anti-bullying Plan. This statement outlines the aims of the school and the key beliefs or principles upon which the plan is based.
    p
      | Preventing and responding to bullying behaviour in learning environments is a shared responsibility between all staff, students, parents/caregivers and members of the wider school community.
    p
      | All members of the school community contribute to the prevention of bullying by modelling appropriate behaviour and respectful relationships.
    h3 Focus questions
    p
      | * What principles should underpin the school's antibullying practices?
    p
      | * What outcomes does the community want the Antibullying Plan to achieve?
    p
      | * Do all the policies, programs and practices within the school work together to achieve these outcomes?

mixin gel_guided-journey_content_asset_4
  +gel_guided-journey_page('/asset4')
    h2 Develop a shared understanding
    p
      | When undertaken reflectively and collaboratively, this process can build the trust and respect needed for individuals and groups to safely challenge and change inequalities within the school. The school can then address the needs of all students and foster an inclusive school culture. Development of a working group with a diverse representation from the school community can facilitate a shared understanding of what bullying is. To succeed in creating a shared understanding it may be helpful to:
    p
      | BUILD KNOWLEDGE AND UNDERSTANDING
    p
      | GATHER AND ANALYSE INFORMATION
      h3 Focus questions
    p
      | * Are all aspects of the current school Anti-bullying Plan consistent with the Bullying: Preventing and Responding to Student Bullying Policy and other relevant Departmental policies and plans.
    p
      | * Which school trend data should be considered?

mixin gel_guided-journey_content_asset_5
  +gel_guided-journey_page('/asset5')
    h2 Develop or revise the school Anti-bullying Plan
    p
      | Include protection, prevention, early intervention and response strategies for student bullying.
    p
      | Identify the series of strategies that will comprise your new or revised Anti- bullying Plan. Write up a plan to reflect the strategies that the team has identified.
    p
      | Your plan should be in a format that clearly identifies, for example, your expected outcomes, targets, strategies and timeframe. Expand the fine detail of each strategy in your plan.
    p
      | Discuss the plan and each of the individual strategies with those people who will be involved in its implementation.
    h3 Focus questions
    p
      | * Do the strategies support and reflect the aims and beliefs articulated in the ‘statement of purpose’?
    p
      | * Are there strategies for each of the areas for action required?
    p
      | * Does the plan include processes to evaluate and review each strategy
    p
      | as well as the plan as a whole?


mixin gel_guided-journey_content_asset_6
  +gel_guided-journey_page('/asset6')
    h2 Publication and promotion
    p
      | Your school may find the Antibullying Plan Template useful for publishing your plan for your school community.
    h3 Focus questions
    p
      | * How will you publish and promote the new Plan within the school community?
    p
      | * Into which community languages does the school’s Anti-bullying Plan need to be translated?
    h3 Example Show Hide



    div#accordion.gel-show-hide()
      div.card
        div.card-header(id='heading0')
          h3.gel-show-hide_title
            button.gel-show-hide_link.btn-block(data-toggle='collapse', data-target='#collapse-0', aria-expanded='false', aria-controls='collapse-0')
              i
              i.vertical
              | Nullan non
        div.collapse(id='collapse-0',aria-labelledby='heading0')
          div.card-body
            p
              | Vivamus luctus egestas leo. Maecenas sollicitudin nullam rhoncus aliquam metus. Etiam egestas wisi a erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam feugiat, turpis at pulvinar vulputate erat libero tristique tellus, nec bibendum odio risus sit amet ante. Aliquam erat volutpat. Nunc auctor, Mauris pretium quam et urna. Fusce nibh, curabitur sagittis hendrerit ante. Aliquam erat volutpat. Vestibulum erat nulla, ullamcorper nec rutrum nonummy ac erat.
      div.card
        div.card-header(id='heading1')
          h3.gel-show-hide_title
            button.gel-show-hide_link.btn-block(data-toggle='collapse', data-target='#collapse-1' , aria-expanded='false', aria-controls='collapse-1')
              i
              i.vertical
              | Duis condimentum augue
        div.collapse(id='collapse-1',aria-labelledby='heading1')
          div.card-body
            p
              | Fusce consectetuer risus a nunc. Aliquam ornare wisi eu metus. Integer pellentesque quam vel velit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae sagittis id malesuada in quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies lacus quam ultricies odio vitae placerat pede sem sit amet enim.


mixin gel_guided-journey_content_asset_7
  +gel_guided-journey_page('/asset7')
    h2 Resources
    p
      | Further reading and supporting documents on anti-bullying.
      h3 Websites:
    p
      | Anti-bullying website Bullying. No Way!
    p
      | Kids Helpline
    p
      | Office of the eSafety Commissioner
    h3 Policies:
    p
      | Bullying: Preventing and Responding to Student Bullying in Schools Policy
    h3 Templates and guides:
    p
      a(href="#") Anti-bullying plan template (PDF 121.36 KB)
    p
      a(href="#") Anti-bullying guidelines (PDF 60.29 KB)
    p
      a(href="#") Anti-bullying interventions in schools - what works? (PDF 4741.34 KB)

mixin gel_guided-journey_content_asset_8
  +gel_guided-journey_page('/asset8')
    h2 ThisIsAGuidedJourneyPageWithALongTitle
    p
      | Example of what a long title looks like in sidebar; It should break mid word.


mixin gel_guided-journey_content_asset(id)
  +gel_guided-journey_page('/asset' + id)
    p
      | This is the content of asset #{id}
