mixin gel_guided-journey_pagination
  div.gel-pagination
    button.button.gel-button.gel-button-medium.gel-button-secondary.gel-button-l-icon.gel-pagination__prev(aria-label='Previous Page')
      | Back

    button.button.gel-button.gel-button-medium.gel-button-primary.gel-button-r-icon.gel-pagination__next(aria-label='Next Page')
      | Next

mixin gel_guided-journey_side-nav-item(step, totalSteps, href, title)
  li.sn_parent
    a(href=href)
      span.sr-only
        | This is step #{step} of #{totalSteps}
      | #{title}

mixin gel_guided-journey_mobile-nav
  nav(role='navigation').d-block.d-md-none.gel_guided-journey__mobile-nav
    form.gel-form
      label.h6.gel-anchor-box__title(for='gel-journey-index-select')
        | Select a section
      div.gel-select-wrap
        select#gel-journey-index-select(name='gel-journey-index-select')

        // Contents is always automatically generated
      button.btn.gel-button.gel-button-primary.gel-button-small(type='submit', aria-label='Go to section')
        | Go to section

mixin gel_guided-journey_page(assetId)
  div.gel-guided-journey__page(data-gel-asset-id=assetId).d-none
    block