//--- *************** ---//
//--- LINK LIST ---//
//--- *************** ---//

- var name = "Link List"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A list of links. The Link List pattern should only be used when all list items contain an anchor element.

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +gel_link_list(5)


mixin output
  +gel_link_list(5)


//--- MIXINS ---//
//---------------------------------------------------------

mixin link_list_link(count)
  - var word_count = Math.floor((Math.random() * 6) + 1)
  li
    span.gel-link-list-icon(aria-hidden="true")
    a(href='#')
      +lipsum(word_count, "words")


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_link_list(number)

  - var count = 1

  ul.gel-link-list
    while count < number + 1
      +link_list_link(count++)
