//--- *************** ---//
//--- linkgroup ---//
//--- *************** ---//

- var name = "linkgroup"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Displays a single linkgroup container made of a heading, single paragraph and thumbnail with links.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {int} num - number of links
  pre
    code.language-pug
      | +gel_linkgroup(3)

mixin output
  +gel_linkgroup(3)

//--- MIXIN ---//
//---------------------------------------------------------

mixin gel_linkgroup(num, columns)

  h3
    +lipsum(3, "words")

  +gel_link_columns(num, columns)
        
