//--- *************** ---//
//--- TEASER ---//
//--- *************** ---//

- var name = "Teaser"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display a single teaser container made of a heading, single paragraph and thumbnail with a referal link.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
       | @param {int} grid_class  - ui kit grid column width class
  pre
    code.language-pug
      | +gel_teaser

mixin output
  +gel_teaser

//--- MIXIN ---//
//---------------------------------------------------------

mixin gel_teaser

  a(href="#")
    div.gel-teaser(data-pseudo-link)

    p.gel-teaser__category
      +lipsum(3, "words")
    a(href="#")
      h4.gel-teaser__heading
        +lipsum(40, "characters", true)


      img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")

      .desc
        +lipsum(1, "sentences") 
