<div class="gef-tabs gef-tabs--active" data-gef-tabs="data-gef-tabs" role="presentation">
  <ul role="tablist">
    <li class="gef-tabs__group"><a id="tab_tabs402" role="tab" href="#tabs402" aria-controls="tabs402" tabindex="0" aria-expanded="false" aria-selected="false">Etiam sapien </a>
    </li>
    <li class="gef-tabs__group"><a id="tab_tabs474" role="tab" href="#tabs474" aria-controls="tabs474" aria-expaned="false" tabindex="0" aria-expanded="false" aria-selected="false">Fusce tellus </a>
    </li>
    <li class="gef-tabs__group"><a id="tab_tabs132" role="tab" href="#tabs132" aria-controls="tabs132" aria-expaned="false" tabindex="0" aria-expanded="true" aria-selected="true">Nunc tincidunt </a>
    </li>
    <li class="gef-tabs__group"><a id="tab_tabs477" role="tab" href="#tabs477" aria-controls="tabs477" aria-expaned="false" tabindex="0" aria-expanded="false" aria-selected="false">Integer imperdiet </a>
    </li>
  </ul>
  <ul class="gef-tabs__panel-group">
    <li>
      <div id="tabs402" role="tabpanel" aria-labelledby="tab_tabs402" aria-hidden="false" aria-label="tabpanel">
        <p>Curabitur vitae diam non enim vestibulum interdum. Nulla quis diam ut tempus purus at lorem. In sem justo, commodo ut suscipit at pharetra vitae orci. Duis sapien nunc, commodo et interdum suscipit sollicitudin et dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Mauris dictum facilisis augue.
        </p>
        <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank" link-category="PDF">PDF Example for Analytics<span class="gef-external-link"></span></a>,  <a href="http://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank" link-category="Video">MP4 Example for Analytics<span class="gef-external-link"></span></a></p>
      </div>
    </li>
    <li>
      <div id="tabs474" role="tabpanel" aria-labelledby="tab_tabs474" aria-hidden="true" aria-label="tabpanel">
        <p>Mauris dolor felis, sagittis at luctus sed aliquam non tellus. Etiam ligula pede, sagittis quis interdum ultricies, scelerisque eu urna. Nullam at arcu a est sollicitudin euismod. Duis bibendum, lectus ut viverra rhoncus dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Nam sed tellus id magna elementum tincidunt. Morbi a metus phasellus enim erat vestibulum vel aliquam a, posuere eu velit. Nullam sapien sem, ornare ac nonummy non lobortis a enim.
        </p>
        <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank" link-category="PDF">PDF Example for Analytics<span class="gef-external-link"></span></a>,  <a href="http://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank" link-category="Video">MP4 Example for Analytics<span class="gef-external-link"></span></a></p>
      </div>
    </li>
    <li>
      <div id="tabs132" role="tabpanel" aria-labelledby="tab_tabs132" aria-hidden="true" aria-label="tabpanel" tabindex="0">
        <p>Etiam commodo dui eget wisi. Donec iaculis gravida nulla. Donec quis nibh at felis congue commodo. Etiam bibendum elit eget erat. Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper nibh ante cursus purus vel sagittis velit mauris vel metus. Aenean fermentum risus id tortor.
        </p>
        <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank" link-category="PDF">PDF Example for Analytics<span class="gef-external-link"></span></a>,  <a href="http://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank" link-category="Video">MP4 Example for Analytics<span class="gef-external-link"></span></a></p>
      </div>
    </li>
    <li>
      <div id="tabs477" role="tabpanel" aria-labelledby="tab_tabs477" aria-hidden="true" aria-label="tabpanel">
        <p>In dapibus augue non sapien. Aliquam ante curabitur bibendum justo non orci. Integer in sapien. Fusce tellus odio, dapibus id fermentum quis suscipit id erat. Fusce aliquam vestibulum ipsum. Aliquam erat volutpat pellentesque sapien cras elementum. Nulla pulvinar eleifend sem.
        </p>
        <p><a href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf" target="_blank" link-category="PDF">PDF Example for Analytics<span class="gef-external-link"></span></a>,  <a href="http://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4" target="_blank" link-category="Video">MP4 Example for Analytics<span class="gef-external-link"></span></a></p>
      </div>
    </li>
  </ul>
</div>

<aside class="gef-notice-ribbon" data-gef-notice-ribbon="data-gef-notice-ribbon" role="tablist" arialive="polite">
  <div id="noticeRibbon-tab" role="tab" aria-controls="noticeRibbon-content" aria-expanded="true" aria-selected="true" tabindex="0">
    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div class="uk-width-1-1">
          <p class="gef-notice-ribbon__title">Welcome to<span class="uk-hidden-small">&nbsp;education.gov.nsw.au</span><span class="link-tag-container"><span class="link-tag">ALPHA</span></span>
          </p>
          <div class="gef-notice-ribbon__icon"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="noticeRibbon-content" role="tabpanel" aria-labelledby="noticeRibbon-tab" aria-hidden="false">
    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div class="uk-width-1-1 uk-width-large-3-4">
          <div>
            <p>Suspendisse sagittis ultrices augue. Mauris metus. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam posuere lacus quis dolor, praesent id justo in neque elementum ultrices.
            </p>
          </div><a class="gef-notice-ribbon__cta uk-button gef-button" href="#">Class aptent taciti </a>
          <p class="gef-notice-ribbon__additional uk-visible-small">Praesent vitae <a href="#">In vulputate urna </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="gef-notice-ribbon__additional uk-hidden-small">Duis viverra <a href="#">Nam quis nulla </a>
  </p>
</aside>
