<form action="#" class="gef-form">
  <input type="radio" id="checked-test" value="radio" />
</form>

<button id="external-button" />


<select id="selected-test">
  <option class="option-first" value="first">First</option>
  <option class="option-second" value="second">Second</option>
</select>