//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--[endif]-->


       +gel_skiplink
       +global_header(false, false)
       +gel_meganav_mobile
       +gel_megamenu_component(7)
       +gel_section_header(siteName, 'On', 'On')
       +gel_search_box('header') 
       .container
         +gel_breadcrumbs(9)
       
       span#content(tabindex="-1")
     
       main.container.gel-main
         .row
           .col-md-8.order-md-2(data-gel-anchor-box)
             +general_content("Standard page")
             
           .col-md-4.order-md-1

             aside.gel-rhs(aria-label="sideNavigation")
     
               div#sidenavigation_auto
     
                 +gel_side_navigation

         div.gel-connect

          mixin gel_drawer_tab_contents()
           | Ask for help
           span.gel-connect_icon.fas.fa-question-circle

          mixin gel_drawer_panel_contents()
           h6
            | Contact EDConnect
           p 
            a.gel_education_link.contactPhone.gel-remove-external-link(href="tel:1300323232")
             | 1300 32 32 32
           p
            a.gel_education_link(href="https://servicemanagement.det.nsw.edu.au/kinetic/DisplayPage?name=Identify_Client&form=SelfService")
             | Send your query online
           p
            a.gel_education_link(href="https://detwww.det.nsw.edu.au/lists/directoratesaz/edconnect/index.htm")
             | What is EDConnect!?

           button.btn.gel-button.gel-button-secondary.gel-button-small.drawer-close(type="button", data-gef-ariatoggler-closebutton)
            span.show-on-sr
             | Close
            span.fas.fa-times

          +gel_drawer 
       
           
       <!-- start section footer component //-->
       footer
         div.gel-section-footer(aria-label="Section Footer")
           div.gel-section-footer__variation-1
             div.container
               div.row
                 div.col-12.col-md-4
                   +gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW DoE profile on ","Say Hello")
                   +gel_acknowledgement
                 div.col-12.col-md-8
                   h3 Section Footer Links Title
                   +gel_link_columns(12,2,true)
       <!-- end component //-->
       +global_footer(2)
           //- +gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
     
  <!-- global footer scripts include JQuery //-->
   include ../../pug/components/_global-scripts.pug 
   <!-- include any component specific scripts here //-->
   script(src='../assets/js/components/anchorBox.js' type='text/javascript')
   script(src='../assets/js/components/keyCodes.js' type='text/javascript')
   script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
   script(src='../assets/js/components/classManipulator.js' type='text/javascript')
   script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
   script(src='../assets/js/components/drawer.js'  type='text/javascript')
   script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
   script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
   script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
   script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
   script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
   script(src='../assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>
