//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Base Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--[endif]-->


       +gel_skiplink
       +global_header(false, false)  
         
       main.container.gel-main
         hr
         hr
         | Content-main
         hr
         hr

       +global_footer(3)
     
  <!-- global footer scripts include JQuery //-->
   include ../../pug/components/_global-scripts.pug 
   <!-- include any component specific scripts here //-->
   script(src='../assets/js/components/anchorBox.js' type='text/javascript')
   script(src='../assets/js/components/keyCodes.js' type='text/javascript')
   script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
   script(src='../assets/js/components/classManipulator.js' type='text/javascript')
   script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
   script(src='../assets/js/components/drawer.js'  type='text/javascript')
   script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
   script(src='../assets/js/components/sideNavigation.js' type='text/javascript')
   script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
   script(src='../assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
   script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
   script(src='../assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>
