//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Layout Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="template">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 template">
  <!--[endif]-->


  header
  main.gel-main
    div.container
      div.col(data-gel-anchor-box)
        h1 Layout components
        
        div.spacer
        h2
          | Date Metadata
        +gel_metadata
        h3 On home or landing
        div.home.landing
          +gel_metadata
          
        hr
          
        h2
          | Links 
        ul
          li
            a(href="#")
              | Regular
          li
            a(href="https://www.google.com")
                | External

          li
            a(href="https://www.google.com" class="gel-remove-external-link")
                | External without icon

          li
            a(href="mailto:test@email.com")
              | Email



        h4 Neighborhood News (example with aria-label)
        p
          | Seminole tax hike:  Seminole city managers are proposing a 75% increase in 
          | property taxes for the coming fiscal year. 
          a(href='https://www.smh.com.au', aria-label='Read more about Seminole tax hike') [Read more...]
        
        hr
          
        h2
          | Pagination 
        +gel_pagination(5, "left")
        
        hr
          
        h2
          | Secure indicator 
        
        +gel_link_tag('Staff only' , 'icon')
        
        hr
        
        h2 Teasers 
          
        div#teasers_auto

          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(1)

          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(2)

          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(3)
                
          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(4)
                
          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(5)
                
          section

            div.gel-teaser-block

              div.container

                +gel_teaser_list(6)

        hr
          
        h2
          | Call Out Box
        +gel_call_out_box

        hr
          
        h2
          | Link Group 
        
        div#linkGroup_auto

          section

            div.container.gel_linkgroup_default_container

              h2.gel-block__header
                +lipsum(3, "words")

              +gel_linkgroup_list(2,4)

          section

            div.container.gel_linkgroup_default_container
              h2.gel-block__header
                +lipsum(3, "words")

              +gel_linkgroup_list(3,4)

          section

            div.container.gel_linkgroup_default_container

              h2.gel-block__header
                +lipsum(3, "words")

              +gel_linkgroup_list(4,4)

        hr
          
        h2 Event/News/Date related teaser

        h4 single one
        +gel_news_teaser

        h4 multiple 
        div#newsteasers_auto

          mixin gel_flex_grid_mixin
            +gel_news_teaser
          +gel_flex_grid(3, "simple")
        
        hr
          
        h2
          | Share this
        +gel_share_this
        
        hr
          
        h2
          | Content banner
          
        div#banner_auto

          +gel_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)")

          div.gel_banner-underneath-container

            h2.gel-block__header Positioning of container underneath banner

          div.spacer

          +gel_banner("https://placehold.it/1350x277?text=SMALL+BANNER+(1350x277)", true)

          div.gel_banner-underneath-container

            h2.gel-block__header Positioning of container underneath small banner
      
        hr
          
        h2
          | Tags
          
        +gel_tag_list(4)
        
        hr
          
        h2
          | Category
          
        +gel_category(1)
        
        hr
        
        h2 Landing header
        
        +gel_landing_header
        
        hr
        
        h2 Expanded nav
        div#expandedNav_auto

          section
            div.expandedNav_default
              h2.gel-block__header
                | Expanded Nav default

              +gel_expanded_nav(5)

          section
            div.expandedNav_default
              h2.gel-block__header
                | Expanded Nav with description hidden on mobile

              +gel_expanded_nav(11, {hide_mobile_description: true})
        hr
        
        h2 Results Table
        div#resultsTable_auto

          div.container

              +gel_results_table("noSecure", 3 , 0 , true)

          div.container
              +gel_results_table("noSecure", 0 , 5)

          div.container

              +gel_results_table("secure", 1 , 0 , true)
        hr
          
        h2 Notice ribbon
        +gel_notice_ribbon()
        
        hr
          
        h2 Maintenance Ribbon
        +gel_maintenance_ribbon()
        
        hr
        
        h2 Alert ribbon
        +gel_alert_ribbon()
        
        hr
        
        h2 Drawer
        div#drawer_auto
          mixin gel_drawer_tab_contents()
            +lipsum(2, "words")

          mixin gel_drawer_panel_contents()
            +lipsum(2, "sentences")

          div.gel-eg-stage

            +gel_drawer
          
        article.gel-glossary
          div.container
            h2.force-margin-bottom
                | A-Z List
                
            div.a-z-list(data-gel-a-z-anchors-scroll)
              div.ac
                +gel_a_z_anchors
            +gel_a_z_list(10,true,false)
            ol.gel-a-z-list
              +gel_a_z_list_letter("P",true,false)
            ol.gel-a-z-list
              +gel_a_z_list_letter("Z",true,false)
                  
                    
        +gel_back_to_top
          
          
        
  footer


  include ../../pug/components/_global-scripts.pug
  script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='../assets/js/components/anchorBox.js' type='text/javascript')
  script(src='../assets/js/components/keyCodes.js' type='text/javascript')
  script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='../assets/js/components/classManipulator.js' type='text/javascript')
  script(src='../assets/js/components/drawer.js'  type='text/javascript')
  script(src='../assets/js/components/anchorFilter.js' type='text/javascript')
  script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='../assets/js/components/anchorHighlight.js' type='text/javascript')
  </body>
