//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "A-Z List"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    article.gel-glossary
      div.container
        h2.force-margin-bottom
            | A-Z List
            
        div.a-z-list(data-gel-a-z-anchors-scroll)
          div.ac
            +gel_a_z_anchors
        +gel_a_z_list(10,true,false)
        ol.gel-a-z-list
          +gel_a_z_list_letter("P",true,false)
        ol.gel-a-z-list
          +gel_a_z_list_letter("Z",false,false)
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/anchorFilter.js' type='text/javascript')
    script(src='../assets/js/components/scrollToggle.js' type='text/javascript')
    script(src='../assets/js/components/anchorHighlight.js' type='text/javascript') 
      
      
    
