//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Breadcrumbs"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
 
  body
    div.spacer
    h2
        | Breadcrumbs

    h3.d-lg-none.d-xl-none
        | Breadcrumbs example of both navigation from Home or from a child page
          
    +gel_breadcrumbs(9,'homeicon')

    main.gel-main
      div.container
        section.gel-main-content  

          
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
  include ../../pug/components/_global-scripts.pug

  script(src='../assets/js/components/classManipulator.js' type='text/javascript')
  script(src='../assets/js/components/breadCrumbs.js'  type='text/javascript')
