//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Drawer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Drawer
    div#drawer_auto
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        +lipsum(2, "sentences")

      div.gel-eg-stage

        +gel_drawer
    
    div#drawer_auto1
      mixin gel_drawer_tab_contents()
        +lipsum(2, "words")

      mixin gel_drawer_panel_contents()
        h6
          | Contact EDConnect
        p 
          a.gel_education_link.contactPhone.gel-remove-external-link(href='tel:1300323232')
            | 1300 32 32 32
        p
          a.gel_education_link(href="https://servicemanagement.det.nsw.edu.au/kinetic/DisplayPage?name=Identify_Client&form=SelfService")
            | Send your query online
        p
          a.gel_education_link(href="https://detwww.det.nsw.edu.au/lists/directoratesaz/edconnect/index.htm")
            | What is EDConnect?

        button.btn.gel-button.gel-button-secondary.gel-button-small.drawer-close(type="button", data-gef-ariatoggler-closebutton)
          span.show-on-sr
            | Close
          span.fas.fa-times

      div.gel-eg-stage

        +gel_drawer 
        
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    script(src='../assets/js/components/keyCodes.js' type='text/javascript')
    script(src='../assets/js/components/ariaToggler.js' type='text/javascript')
    script(src='../assets/js/components/classManipulator.js' type='text/javascript')
    script(src='../assets/js/components/drawer.js'  type='text/javascript')
      
      
    
