//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Featured Teaser Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body(style="background-color: #f2f2f2")

    .container
    
      h1 Featured Teaser

      h2 Feature Teasers - Default
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
            
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

        .col-4
          
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                  
      br
      br

      h2 Feature Teasers - Default with Arrow 
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
                  
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right  

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right  

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

      br
      br

      h2 Feature Teasers - Default with Arrow - Equal Height
      .row
        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              div.card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight News Category
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25") 25 December 2015
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


      hr

      h2
        | Featured Teaser with Banner
      .row
        .col-12.mb-5
          +gel_featured_teaser()
      
      h1
        |Featured Teaser without Image
      +gel_featured_teaser(true, true)
      hr
        
      h1
        |Featured Teaser with Button
      +gel_featured_teaser(true, false, true)
      hr
        
      h1
        |Featured Teasers with Filter
      hr
      
        
      div.gel_featured_teaser_container
        .row
          .col-lg-12
            form
              div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
                fieldset
                  legend.show-on-sr News Sort Options
                  +gel_select("Category", 8)
                  +gel_select("News from", 6)
                  input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")
        .row
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
          .col-sm-12.col-md-6.mb-5.d-flex
            +gel_featured_teaser(true)
        
      div.container
        .gel_featured_teaser_pagination
          +gel_pagination_with_higher_numbers(11, "left")
      footer 
      hr
      
      h1
        |Featured Teaser with Button
      +gel_featured_teaser(true, false, true)
      hr

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      table 
        thead 
          tr
            th Change date
            th Jira links
            th Change details
            
        tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
