//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Global Footer"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    h2 Global Footer with 2 Link Columns
    <!-- start component //-->
    +global_footer(2)
    <!-- end component //-->
    h2 Global Footer with 3 Link Columns
    <!-- start component //-->
    +global_footer(3)
    <!-- end component //-->
    h2 Global Footer with 4 Link Columns
    <!-- start component //-->
    +global_footer(4)
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
