//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Image with Caption"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug


  body
    h1 Image with caption
    <!-- begin component //-->
    +gel_image_with_caption
    <!-- end component //-->
    hr
    
    h2 Image with caption rounded variation
    <!-- begin component variation //-->
    +gel_image_with_caption("rounded")
    <!-- end component variation //-->
    
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
