//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link group"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h1 Link groups

    div#linkGroup_auto

      section

        div.container.gel_linkgroup_default_container

          h2
            +lipsum(2, "words")

          +gel_linkgroup_list(1,4)    

      section

        div.container.gel_linkgroup_default_container

          h2
            +lipsum(3, "words")

          +gel_linkgroup_list(2,4)

      section

        div.container.gel_linkgroup_default_container
          h2
            +lipsum(5, "words")

          +gel_linkgroup_list(3,4)

      section

        div.container.gel_linkgroup_default_container

          h2
            +lipsum(3, "words")

          +gel_linkgroup_list(4,3)

        
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
