//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "**INSERT COMPONENT NAME HERE**"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body
    h2  
      | Links

    ul
      li
        a(href="#")
          | Regular
      li
        a(href="https://www.google.com")
            | External

      li
        a(href="https://www.google.com" class="gel-remove-external-link")
            | External without icon

      li
        a(href="mailto:test@email.com")
          | Email



    h4 Neighborhood News (example with aria-label)
    p
      | Seminole tax hike:  Seminole city managers are proposing a 75% increase in property taxes for the coming fiscal year. #{' '}
      a(href="https://www.smh.com.au" aria-label="Read more about Seminole tax hike") [Read more...]



    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
        tr
          td 15-07-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-78")
              | https://dec-ce.atlassian.net/browse/GEL-78
          td Updated the externalLinkTagger.js with screen reader only read out for External link and updated links.scss to have 'text-decoration: underline' as default for '#{'<a>'}' tag and reverse for focus and hover.          
        tr
          td 07-05-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-1")
              | https://dec-ce.atlassian.net/browse/GEL-1
          td Updated the externalLinkTagger.js with ES6 code since the babel is fixed.
        tr
          td 27-03-2019
          td 
            a(href="https://dec-ce.atlassian.net/browse/GEL-1")
              | https://dec-ce.atlassian.net/browse/GEL-1
          td Updated the External link with and without icon, Also transformed externalLinkTagger.js from ECMA6 to ECMA5 using the website 
            a(href="https://es6console.com/") es6console.com
          
      tbody

      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
     
      
    
