//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Megamenu"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
 
  body
    div.spacer
    h2
        | Megamenu
          
    +gel_megamenu_component(7)
    main.gel-main
      div.container
        section.gel-main-content  

          
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody
  include ../../pug/components/_global-scripts.pug
