//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Notice ribbon"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    
    h2 Notice ribbon without quick summary
    +gel_notice_ribbon()
        
    hr
    
    h2 Notice ribbon with quick summary
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab02" data-toggle="collapse" href="#noticeRibbon-content02" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | Welcome to education.gov.nsw.au
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            +lipsum(3, "words")
            
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content02")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)

          p.gel-quick-summary.d-sm-block.d-md-none
            +lipsum(3, "words")
            
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        +lipsum(2, "words")
        a(href="#")
          +lipsum(3, "words")
      
    hr
      
    h2 Notice ribbon without quick summary (max characters)
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab03" data-toggle="collapse" href="#noticeRibbon-content03" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            |
            
          
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content03")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)
          
          p.gel-quick-summary.d-sm-block.d-md-none
            |
        
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        | His many legs pitifully thin compared with the siz
        a(href="#")
          | His many legs pitifully thin compared with the siz
          
    hr
    
    h2 Notice ribbon with quick summary (max characters)
    
    aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
      span.show-on-sr
        | noticeRibbon
      a.noticeRibbon-tab(id="noticeRibbon-tab04" data-toggle="collapse" href="#noticeRibbon-content04" aria-expanded="false" tabindex="0" )
        div
          p.gel-notice-ribbon__title
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            +gel_link_tag("BETA")
          div.gel-notice-ribbon__icon
          
          p.gel-quick-summary-desktop(role="presentation")
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
            
          
      div(class="collapse noticeRibbon-content"  id="noticeRibbon-content04")
        div(class="noticeRibbon-content-container")
          div
            p
              +lipsum(4, "sentences")
          +gel_button("Button", "gel-button-secondary", "small", false, true)

          p.gel-quick-summary.d-sm-block.d-md-none
            | His many legs pitifully thin compared with the size of the rest of him waved about helplessly as he loo helplessly as he loo helplessly as he loo dsas
        
          p.gel-notice-ribbon__additional.d-sm-block.d-md-none
            +lipsum(2, "words")
            a(href="#")
              +lipsum(3, "words")    
      
      p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
        | His many legs pitifully thin compared with the siz
        a(href="#")
          | His many legs pitifully thin compared with the siz
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
    
    script.

      $(document).ready(function() {
        $('[id^="noticeRibbon-tab"]').each(function( index ) {
          if(!($(this).find(".gel-quick-summary-desktop").is(':visible'))) {
            $(this).find(".gel-notice-ribbon__title").css('max-width', '60%');
          } else {
          }
        });
        
        $('.gel-notice-ribbon').each(function( index ) {
          var textHeight1 = $(this).find(".secondary-link-title").innerHeight();
          var textHeight2 = $(this).find(".gel-notice-ribbon__title").innerHeight();
          var divAdjust = $(this).find(".noticeRibbon-tab")
          if(textHeight1 > textHeight2 + 2){
            divAdjust.css('padding','15px 15px 40px 15px');
          } else {
          }
        })
      })
      
    
