//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Box"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    .container
      h2
        | Search Box
      div#searchbox_auto
        +gel_search_box('results', true)

      div
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox.gel-small
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border.gel-small
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search

        h2 Medium (Default)
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search

        h2 Large
        .row
          .col-12.col-md-6
            h4 Search Input
            .gel-searchbox.gel-small.gel-large
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search


          .col-12.col-md-6
            h4 Search Input with Border
            .gel-searchbox.gel-border.gel-large
              .form-group
                .input-group
                  input.form-control(id="search" type='text' placeholder='Enter your search...')
                  .input-group-append
                    button.btn.gel-button
                      span.fas.fa-search
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
