//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Section Header"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug

  body
    +global_header
    +gel_meganav_mobile
    <!-- start component //-->    
    +gel_section_header(siteName, 'On', 'On')
    +gel_search_box('header')    
    <!-- end component //-->
    
    div.spacer
    div.spacer
      
    h2 Section Header without Search Box
    <!-- start component //-->    
    +gel_section_header(siteName, '', 'On')
    <!-- end component //-->

    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

  include ../../pug/components/_global-scripts.pug
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='../assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='../assets/js/components/sectionHeaderAlignment.js' type='text/javascript')
