//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Select Dropdowns"

//--- MIXINS ---//
//---------------------------------------------------------
mixin option(num)
  - var childOpt = Math.floor(Math.random() * 9) % 2
  option(value=num)
    +lipsum(2, "words")

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    .container
      h2
        | Select Dropdown
      div#select
        +gel_select_new('Label', 5)

      div
        .row
          .col-12.col-md-6
            h4 Select Dropdown
            +gel_select_new('Label', 5)

          .col-12.col-md-6
            h4 Select Dropdown with more items
            +gel_select_new('Label', 10)       

    footer 
    hr

    h2 Record of change decisions

    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details

      tbody



    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->



