//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "TEASERS COMPONENT"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    div#teasers_auto

      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(1)

      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(2)

      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(3)
            
      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(4)
            
      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(5)
            
      section

        div.gel-teaser-block

          div.container

            +gel_teaser_list(6)
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    <!-- global footer scripts include JQuery //-->
    include ../../pug/components/_global-scripts.pug 
    <!-- include any component specific scripts here //-->
      
      
    
