//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "TYPOGRAPHY"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  // include link to css for component here 

  body(style="margin: auto; max-width: 1140px; padding: 50px 25px;")


    h2  
      | Typography



    h6 
      | Our Primary Typeface
    hr
    .row
      .col-12.col-md-6
        p
          | Our primary typeface is Montserrat. Designed by Julieta Ulanovsky in 2014, Montserrat is a beautifully simple, open geometric typeface that complements our logo and its distinguishing waratah. Friendly and welcoming, it’s a sans serif font with character, warmth and functionality used across both print and digital.   

        ul
          li 
            | We use Montserrat in 2 weights; Regular and SemiBold
          li
            | For readability, a line of text should never exceed 650px
          li
            | All type should be left aligned

        p
          | You can download the font family from Google Fonts.

        p
          a(href="https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat") 
            | https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat

      .col-12.col-md-6
        p
          | Montserrat Regular
          br
          span(style="word-wrap: break-word;") AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©
        h5
          | Montserrat SemiBold
          br
          span(style="word-wrap: break-word;") AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890+=”:!@#$%^&*?©

    .row
      .col-12.col-md-6
        h6 
          | Desktop and Tablet Styles
        hr
        h1
          | H1 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 38px;
          br
          | color:
          br
          | line-height: 48px;

        h2
          | H2 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 32px;
          br
          | color:
          br
          | line-height: 36px;

        h3
          | H3 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 26px;
          br
          | color:
          br
          | line-height: 32px;

        h4
          | H4 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 24px;
          br
          | color:
          br
          | line-height: 28px;

        h5
          | H5 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 20px;
          br
          | color:
          br
          | line-height: 26px;


      .col-12.col-md-6
        h6 
          | Mobile Styles
        hr
        h1(style="font-size:28px; line-height: 32px; padding-top: 15px;")
          | H1 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 28px;
          br
          | color:
          br
          | line-height: 32px;

        h2(style="font-size:26px; line-height: 32px; padding-top: 2px;")
          | H2 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 26px;
          br
          | color:
          br
          | line-height: 32px;

        h3(style="font-size:24px; line-height: 28px; padding-top: 2px;")
          | H3 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 24px;
          br
          | color:
          br
          | line-height: 28px;

        h4(style="font-size:22px; line-height: 28px; padding-top: 2px;")
          | H4 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 22px;
          br
          | color:
          br
          | line-height: 28px;

        h5(style="font-size:20px; line-height: 26px; padding-top: 2px;")
          | H5 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 20px;
          br
          | color:
          br
          | line-height: 26px;

    .row
      .col-12 
        strong 
          | ALL DEVICES
        hr 

      .col-12.col-md-6

        h6
          | H6 SemiBold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 18px;
          br
          | color:
          br
          | line-height: 24px;

        span.small(style="padding-top: 2px;")
          | Small Text
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 14px;
          br
          | color:
          br
          | line-height: 20px;


        span(style="font-size:16px; line-height: 24px; padding-top: 2px;")
          | Paragraph
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 16px;
          br
          | color:
          br
          | line-height: 24px;

      .col-12.col-md-6

        span(style="font-size:16px; font-weight: 600; line-height: 24px; padding-top: 2px;")
          | Paragraph Bold
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-SemiBold;
          br
          | font-size: 16px;
          br
          | color:
          br
          | line-height: 24px;

        span.small(style="padding-top: 2px;")
          a(href="#") Small Text Link
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 14px;
          br
          | color: #041E42;
          br
          | line-height: 20px;

        span(style="font-size:16px; color: #041E42; line-height: 24px; padding-top: 2px;")
          a(href="#") Paragraph Link
        div(style="padding-bottom: 30px;")
          | font-family: Montserrat-Regular;
          br
          | font-size: 16px;
          br
          | color: #041E42;
          br
          | line-height: 24px;

    footer 
    hr
    
    // h2 Record of change decisions
        
    // table 
    //   thead 
    //     tr
    //       th Change date
    //       th Jira links
    //       th Change details

    //   tbody
    //     tr
    //       td 15-07-2019
    //       td 
    //         a(href="https://dec-ce.atlassian.net/browse/GEL-78")
    //           | https://dec-ce.atlassian.net/browse/GEL-78
    //       td 
    //         | Updated the externalLinkTagger.js with screen reader only read out for External link and updated links.scss to have 'text-decoration: underline' as default for '#{'<a>'}' tag and reverse for focus and hover.          

          

      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
    script(src='../assets/js/components/externalLinkTagger.js' type='text/javascript')
     
      
    
