//--- INCLUDES
//---------------------------------------------------------

include ../../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "**INSERT COMPONENT NAME HERE**"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../../pug/components/_global-head-component.pug
  <!-- include link to css for component here //-->

  body
    h2  Include title of compent here
    <!-- start component //-->
    
    <!-- include link to component here -   +componentName(var) //-->
    
    <!-- end component //-->
    
    footer 
    hr
    
    h2 Record of change decisions
        
    table 
      thead 
        tr
          th Change date
          th Jira links
          th Change details
          
      tbody

    
      
    // global footer scripts include JQuery
    include ../../pug/components/_global-scripts.pug 
    // include any component specific scripts here 
      
      
    
