//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include assets/pug/components/_global-head-component.pug

  body
    main.gel-main
      div.container
        div.col
          h1 Global Experience Language
          h2 Components
          p All components should initially be developed on their own pages and then placed into templates to ensure no clashes.
            br
            | Individual components should be built in the component folder, with an equivalent page with calls to css and js in the pug/template folder

          h3 Stand alone
          ul
            li
              a(href="components/lists.html") Lists
            li
              a(href="components/lead.html") Lead Paragraph
            li
              a(href="components/iframe.html") Iframe
            li
              a(href="components/blockquote.html") Blockquote
            li
              a(href="components/table.html") Table
            li
              a(href="components/links.html") Links
            li
              a(href="components/button.html") Button
            li
              a(href="components/featured_teaser.html") Featured Teaser
            li
              a(href="components/news_hub.html") News Hub
            li
              a(href="components/image-with-caption.html") Image with caption
            li
              a(href="components/link_columns.html") Link columns
            li
              a(href="components/link_group.html") Link group
            li
              a(href="components/content_container.html") Content container
            li
              a(href="components/tabs.html") Tabs
            li
              a(href="components/show-hide.html") Show hide
            li
              a(href="components/download_box.html") Download Box
            li
              a(href="components/table-of-contents.html") Table of contents
            li
              a(href="components/drawer.html") Drawer
            li
              a(href="components/event-calendar.html") Event Calendar
            li
              a(href="components/search-box.html") Search Box
            li
              a(href="components/link-columns-description.html") Link column with Description
            li
              a(href="components/livefyre.html") Livefyre
            li
              a(href="components/social-from-microservice.html") Social media from microservice
            li
              a(href="components/input.html") Form Text Inputs
            li
              a(href="components/select_new.html") Select dropdowns

          h3 Set location
          ul
            li
              a(href="components/global_header.html") Global Header
            li
              a(href="components/global_footer.html") Global Footer
            li
              a(href="components/section_header.html") Section Header
            li
              a(href="components/megamenu.html") Meganav Desktop
            li
              a(href="components/meganav-mobile.html") MegaNav Mobile
            li
              a(href="components/news_teaser.html") Event/News/Date related teaser
            li
              a(href="components/highlight_panel.html") Highlight Panel New (for Event/News/Date related teaser)
            li
              a(href="components/banner.html") Banner
            li
              a(href="components/landing_header.html") Landing header
            li
              a(href="components/expanded_nav.html") Expanded Nav / Section Summary
            li
              a(href="components/notice_ribbon.html") Notice ribbon
            li
              a(href="components/maintenance_ribbon.html") Maintenance Ribbon
            li
              a(href="components/alert_ribbon.html") Alert ribbon
            li
              a(href="components/acknowledgment.html") Acknowledgment
            li
              a(href="components/social_media_list.html") Social media list
            li
              a(href="components/section_footer_links_component.html") Section footer
            li
              a(href="components/secondary-anchor-box-multiple.html") Secondary index multiple
            li
              a(href="components/secondary-anchor-box-single.html") Secondary index single
            li
              a(href="components/side-navigation.html") Side Navigation
            li
              a(href="components/skip_link.html") Skip Link

          h3 Full pages
          ul
            li
              a(href="components/results_table.html") Results table
            li    
              a(href="components/a-z-list.html") A-Z List 
            li    
              a(href="components/catalogue.html") Catalogue
            li
              span Guided Journey
              ul
                li
                  a(href="components/guided-journey.html") Guided Journey (with DOM source)
                li
                  a(href="components/guided-journey-network.html") Guided Journey (with NETWORK source)
            li    
              a(href="components/long_content.html") Long Content Page 
            li
              a(href="components/_search-spa.html") Doe Search
          
          h3 Layout
          ul
            li
              a(href="components/grid.html") Bootstrap Grid  
            li
              a(href="components/metadata.html") Metadata  
            li
              a(href="components/pagination.html") Pagination
            li
              a(href="components/secure_indicator.html") Secure indicator
            li
              a(href="components/teasers.html") Teasers
            li
              a(href="components/call_out_box.html") Call Out Box
            li
              a(href="components/share_this.html") Share this
            li
              a(href="components/category.html") Category
            li
              a(href="components/anchor_box.html") Anchor Box
            li
              a(href="components/breadcrumbs.html") Breadcrumbs
            li
              a(href="components/alert_ribbon.html") Alert ribbon
            li
              a(href="components/tag_list.html") Tags
            li
              a(href="components/a_z_anchors.html") A-Z Anchors
            li
              a(href="components/grid.html") Grid System

            li
              a(href="components/typography.html") Typography
            
          h2 Components by type
          ul
            li
              a(href="components/_type_layout.html") Layout components
            li
              a(href="components/_type_set_location.html") set location Components
            li
              a(href="components/_type_stand_alone.html") Stand alone components

          h2 Templates
          ul
            li
              a(href="components/_template_base.html") Base Template
            li
              a(href="components/_template_fullwidth.html") Full Width Page Template
              ul(style="padding-left: 30px")
                li
                  a(href="components/_template_without_sidenav.html") Standard Template Without Sidenav
                li 
                  a(href="components/_template_catalogue.html") Catalogue Template
                li 
                  a(href="components/_template_a-z_list.html") A-Z List Template
            li
              a(href="components/_template_standard.html") Standard Template
            li
              a(href="components/_template_standard_with_notice_ribbon.html") Standard Template with notice ribbon
            li
              a(href="components/_template_news_hub.html") News Hub Template
          hr

          h2 Release Notes
          br
          h3 Upcoming
          br
          h3 Released
          h4 1.0.1
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/1/master-release-101/diff") Initial release of GEL components and templates for integration to AEM
          h4 1.0.2 - 1.0.16
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/5/master-release-1016/diff") Updates on GEL components and templates for 
          h4 1.1.1 - 1.1.8
          ul
            li
              a(href="https://bitbucket.org/dec-ce/gel/pull-requests/6/master-release-1117/diff") Updates on GEL components and templates for Release 1.1 (Post Go Live)  
  
    include assets/pug/components/_global-scripts.pug
