//--- ************************ ---//
//--- BACK TO TOP ---//
//--- ************************ ---//

//- Back to Top Button/Link
//- Standard back to top links.  Fixed for mobile media.  Set to bottom of page for larger screens

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_back_to_top


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin div_back_to_top
    div
      a.gel-btt(href="#top-desktop" data-gel-back-to-top)
        span.gel-backtotop-icon(aria-hidden="true")
        span.show-on-sr
          | Return to top of page
      a.gel-mobile-btt.btn.btn-lg.btn-block(type="button" href="#top-mobile")
        | Back to top

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_back_to_top
  +div_back_to_top
