//--- *************** ---//
//--- CALL OUT BOX ---//
//--- *************** ---//

//- The call out box styles a section for better visibility. While technically any amount of varied content can be added to a callout box the intention of this pattern is to highlight small amount of discretionary content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @mixin call_out_box_content - use this mixin to put your custom content into the callout box
  | +gel_call_out_box


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin call_out_box_content
  h3
    +lipsum(3, "words")
  p
    +lipsum(3, "sentences")
  ul
    li
      a(href="#")
        | item link 1
    li
      a(href="#")
        | item link 2
    li
      a(href="#")
        | item link 3


mixin gel_call_out_box(variation)

  - var componentClass = "gel-call-out-box"

  if variation == "lite"
    - componentClass = "gel-call-out-box--lite"


  div(class=componentClass)
    +call_out_box_content
