//--- *************** ---//
//--- CATEGORY ---//
//--- *************** ---//

//- A list of links with simple styling

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - the number of links to display
  | +tag_list(5)

mixin usage
  pre
    code.language-jade
      +documentation

//--- LIST ITEMS ---//
//---------------------------------------------------------


mixin item_link

  li
    a(href="#").badge.badge-default.small
      +lipsum(1, "words")

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_category(num)

  div.gel-category

    p.gel-category__title.gel-smaller-text
      | Category:

    ul.gel-category__list

      -var count = 0

      while count < num
        +item_link
        -count++
