mixin event_calendar(border)
  if border
    -var classVariation = "gel-highlight-panels__panel"
  else
    -var classVariation = "gel-highlight-panels__panel gel-highlight-panels__panel--noborder"


  div.gel-calendar(class=classVariation)
    div.gel-highlight-panels__image
      a(href="#" class="gel-remove-external-link")
        img(src="https://education.nsw.gov.au/__data/assets/image/0020/861113/Calendar-Apr-2019.jpg" alt="April 2019")
    
    div.gel-block__header
      h2
        | School calendar
    div.gel-highlight-panels__content
      ul
        li.gel-events-type-1     

          time
            strong 
              | 1  
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan
              |  - 28 
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan:
          span.event-details 
            | School Holidays

        li.gel-events-type-2        

          time
            strong 
              | 29 Jan and 12 Apr:
            span.event-details 
              | Additional school holiday dates Western division

        li.gel-events-type-3             

          time
            strong 
              | 26
              span.show-on-sr January
              span(aria-hidden="true") 
                | Jan:  
          span.event-details 
            | Australia day

        li.gel-events-type-4       

          time
            strong 
              | 29
              span.show-on-sr January
              span(aria-hidden="true") 
                | Feb:  
          span.event-details 
            | School Development day

        li.gel-events-type-5   

          time
            strong 
              | 6
              span.show-on-sr February
              span(aria-hidden="true") 
                | Feb:  
          span.event-details 
            | Other Options with no icon


        li.gel-events-type-6       

          time
            strong 
              | 16
              span.show-on-sr February
              span(aria-hidden="true") 
                | Feb:  
            span.event-details 
              | Term 1 2019 starts for students – Western division

        li       

          time
            strong 
              | 26 Feb:
            span.event-details 
              | Default option

      div.gel-smaller-text 
        p
          | Check with your local school as some dates may change.
        
    div.gel-highlight-panels-bottominfo
    
      div.gel-highlight-panels-moreinfo
        
        a(href="#") 
          span Full calendar
