//--- *************** ---//
//--- FEATURED TEASER ---//
//--- *************** ---//

//- A stand-out teaser for a news article

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_featured_teaser

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_featured_teaser(variant, witoutImg, withButton)
  - var componentClassOne = "gel-featured-teaser"
  - var componentClassTwo = "gel-featured-teaser__content"
  - var componentClassThree = "gel-featured-teaser__date"
  
  if variant
    - componentClassOne = "gel-featured-teaser_variant" 
    - componentClassTwo = "gel-featured-teaser__content_variant"
    - componentClassThree = "gel-featured-teaser__date_variant"
  a(href="#" class="gel-featured-teaser-link d-flex flex-grow-1")
    div.card(data-pseudo-link class=componentClassOne + " flex-1")
      if !witoutImg
        img.img-fluid.card-img-top(src="//placehold.it/1200x900/", alt="")

      div.card-body(class=componentClassTwo)
        if variant
          span.gel-featured-teaser_highlight|News Category
          
        h4.card-title
          +lipsum(15, "words", true)

        if variant
          p
            +lipsum(25, "words", true)
        if withButton
          div.gel-featured-teaser_action
            +gel_button("Button", "gel-button-secondary", "small")

        time(datetime="2015-12-25" class=componentClassThree)
          | 25 December 2015

mixin gel_featured_teaser_with_filter
  div.container.gel_featured_teaser_container
    .row
      .col-lg-12
        form
          div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
            fieldset
              legend.show-on-sr News Sort Options
              +gel_select("Category", 8)
              +gel_select("News from", 6)
              input(type="submit" id="sub01" name="sub01" value="Filter" class="btn gel-button gel-button-primary gel-button-small")
    .row
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true) 
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true)
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true)
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true)
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true)
      .col-sm-12.col-md-6.d-flex
        +gel_featured_teaser(true)
    
  div.container
    .gel_featured_teaser_pagination
      +gel_pagination_with_higher_numbers(11, "left")
