
//--- Iframe ---//
//--- *************** ---//

//- The HTML Inline Frame element (<iframe>) creates an inline frame, which embeds an independent HTML document (videos, maps) into the current document.


//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | @param {string}  src - the source of the iframe content
  | @param {string}  title - the title of the iframe
  | @param {string}  styles - the styles of the iframe
  | @param {string}  allowcaption - enables display of caption
  | @param {string}  ratio - the display ratio of the iframe 
  | @param {string}  allowfullscreen - enables fullscreen button within the iframe
  | +gel_iframe(src, title, styles, allowcaption, ratio, allowfullscreen)



mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_iframe(src, title, styles, allowcaption, ratio, allowfullscreen)
  - var responsive = "gel-script"
  if ratio == "21by9"
    - responsive += " embed-responsive embed-responsive-21by9"
  else if ratio == "16by9"
    - responsive += " embed-responsive embed-responsive-16by9"
  else if ratio == "4by3"
    - responsive += " embed-responsive embed-responsive-4by3"
  else if ratio == "1by1"
    - responsive += " embed-responsive embed-responsive-1by1"
  //--NOTE: .embed-responsive-item isn’t strictly required, but encouraged

  div(class=responsive)
    if (ratio === false || ratio === undefined) 
      //-- default case 
      iframe(src=src title=title style=styles aria-label=title)
    else
      iframe.embed-responsive-item(src=src title=title style=styles allowfullscreen="" aria-label=title)
    if (allowcaption === true)
      .gel-script__iframe--caption
        +lipsum(1, "sentences")    

mixin gel_iframe_error

  .gel-script
    .gel-script__iframe--error
      p
        | The iframe you have tried to embed is currently not from an authorised domain.
      p.gel-script__iframe--url
        | https://drive.googles.com/embeddedfolderview?id=1RXY2pxqVnvlWhopzhQu0IEAW02aSwQat#grid
      p
        | To discuss the options around adding your content please contact the support team at 
        a(href="mailto:swssupport@detcorpcomms.zendesk.com") swssupport@detcorpcomms.zendesk.com
        | .

mixin gel_freeform_script

  .gel-script
    | Insert some code here
