//--- ****************** ---//
//--- IMAGE WITH CAPTION ---//
//--- ****************** ---//

//-  Image with caption component

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @mixin Image - use this mixin for your image tag
  | +gel_image_with_caption(variation)

mixin Image(pattern)
   img.img-fluid(class = pattern src="https://placehold.it/800x400" alt="Placeholder" title="Placeholder image")

mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML ---//
//---------------------------------------------------------

mixin gel_image_with_caption(variation)

  - var componentClass = "gel-image-with-caption"
  
  if variation == "rounded"
    - componentClass += " gel-image-with-caption--rounded"
  
  div(class=componentClass)   
    figure
      img.img-fluid(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
      figcaption
        +lipsum(2, "sentences")
