//--- *************** ---//
//--- linkgroup LIST ---//
//--- *************** ---//

//- Creates up to 3 linkgroups displayed in a grid

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of linkgroups to display. Valid inputs: 1, 2, 3, 4
  | //- @param {int} links - number of linkgroups items within a linkgroup to display.
  | +gel_linkgroup_list(num, links)

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_linkgroup_list(num, links)

  if num == 1
    .row
      .col
        +gel_linkgroup(links)
          

  else if num == 3
    .row
      - var n = 0

      while n < num
        .col-md-6.col-lg-4
          +gel_linkgroup(links)
          -n++
  else
    .row
      - var n = 0

      while n < num
        .col-md-6
          +gel_linkgroup(links)
          -n++   
