//--- *************** ---//
//--- link columns ---//
//--- *************** ---//

- var name = "link columns with Description"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Displays a set of links displayed into two columns with the content flowing in an "N" direction.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {int} num - number of links
      | @param {int} columns - number of columns (max 3)
      | @param {bool} condensed - variation for a more condensed list
  pre
    code.language-pug
      | +gel_link_columns-desc(12, 2)

mixin output
  +gel_link_columns-desc(12)

//--- MIXIN ---//
//---------------------------------------------------------

mixin gel_link_columns-desc_item()
  span.gel-link-columns-icon(aria-hidden="true")
  a(href="#")
    +lipsum(6, "words", true)

mixin gel_link_columns-desc(num, columns, condensed)

    - var n  = 0
    - var classes = "gel-link-columns--" + columns + "col"

    if (condensed == true)
      - classes = classes + " gel-link-columns--condensed"
   
    div.gel-link-columns-desc-header
      h2
        a(href="#") 
          +lipsum(5, "words")
    div.row.gel-link-columns-desc-main
      div.col-md-3.gel-description  
        p
          +lipsum(1, "sentences") 

      div.col-md-9 
        h3
          | Topics include:
        div.gel-link-columns

          ul(class="gel-link-list gel-link-columns__items " + classes)
            while n < num
              li
                +gel_link_columns_item()
              -n++
      div.col.gel-link-columns-desc-alltopics
        a(href="#") View all topics