//--- *************** ---//
//--- Megamenu ---//
//--- *************** ---//

//- The HTML Inline Frame element (<iframe>) creates an inline frame, which embeds an independent HTML document (videos, maps) into the current document.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_megamenu_component

mixin usage
  pre
    code.language-jade
      +documentation
//--- VARAIBLES ---//
//---------------------------------------------------------
- var megaMenuItems = ['Working in early childhood education', 'Investigation, feedback and complaints', 'Going to a public school', 'Child protection', 'News', 'Strengthen teaching quality and school leadership', 'Student assessment', 'Attendance, behaviour and engagement', 'Whole school approach']
- var megaMenuItems3 = ['Home', 'About us', 'Benefits', 'Contact us']
- var megaMenuItemsLong = ['Early childhood education', 'Public schools', 'Teaching and learning', 'Student wellbeing', 'Our priorities', 'Policy library', 'About us']
- var menuItemsLevel4   = ['Policy library']
- var megaMenuSubItems_1 = ['Information for parents and carers ','Working in early childhood education', 'Investigation, feedback and complaints', 'Operating an early childhood education service ', 'Whats happening in the early childhood education sector ']
- var megaMenuSubItems_2 = ['Community languages schools ','Going to a public school', 'Selective high schools and opportunity classes', 'Assisted School Travel Program']
- var megaMenuSubItems_3 = ['Curriculum','Aboriginal education and communities', 'Professional learning', 'Student assessment', 'Disability,learning and support', 'School excellence and accountability']
- var megaMenuSubItems_4 = ['Counselling and psychology services','Attendance, behaviour and engagement', 'Child protection', 'Health and physical care ', 'Whole school approach']
- var megaMenuSubItems_5 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes','Strengthen teaching quality and school leadership']
- var megaMenuSubItems_7 = ['Supplying to us','Jobs and opportunities', 'Our people and structure', 'Rights and accountability', 'Using school facilities','Strategies and reports']


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_megamenu_component(num)
    
    // Component -Megamenu code fragment starts here
    nav.gel-meganav.navbar.navbar-expand-md.d-none.d-md-block
     div.container.gel-remove-external-link
       div.container-fluid.gel-meganav__main-menu
         div.row.navbar-header
           div.gel-meganav-logo.col-2.col-lg-1
             a.gel-meganav-logo__link(href="https://education.nsw.gov.au" title="NSW Department of Education")
                 img.gel-meganav-logo__image(src="../assets/images/doe-logo-white.png" alt="NSW Department of Education logo")
           div.gel-meganav-menulinks.col-10.col-lg-11      
             div.collapse.navbar-collapse(id="gel-meganav-collapse-1")
               ul.navbar-nav.mr-auto
                   +gel-meganav_menulink(num, megaMenuItemsLong)  
                     //+edu_megamenu_menulink_variant(num, megaMenuItemsLong)          
   
    // Component - Megamenu code fragment ends here.uk-grid



//--- MIXINS ONE---//
//---------------------------------------------------------
mixin gel-meganav_menulink(n, menuItemsArray)

  - var x = 1
  
  while x <= n
    if x == 6
     li.gel-meganav_dropdown.dropdown.dropdown-meganav
        a.nav-link(href="#") Policy library
    else
      li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
        a.dropdown-toggle.nav-link(data-toggle="dropdown"  id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="#" )= menuItemsArray[x - 1]
        div.dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby="dropdownMenuButton")
              h4.gel-meganav_dropdown__subnav-title(aria-label=menuItemsArray[x - 1],)
                a.gel-meganav_dropdown__subnav-title-link(id="megalink"+x href="#" aria-label=menuItemsArray[x - 1] )= menuItemsArray[x - 1]       
              div.gel-meganav_dropdown__subnav-desc
                p
                  | Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.
                div.gel-meganav_dropdown__subnav-design
              +gel_meganav_item(x,true)
    -x++

//--- MIXIN TWO ---//
//---------------------------------------------------------
mixin gel_meganav_item(num, border)

  - var amount = num
  - var counter = 4

  
  - var classes = "list-unstyled card-columns"


  ul(class=classes)
    if num == 1
      - menuItemsArray = megaMenuSubItems_1
    else if num === 2
      - menuItemsArray = megaMenuSubItems_2
    else if num === 3
      - menuItemsArray = megaMenuSubItems_3
    else if num === 4
      - menuItemsArray = megaMenuSubItems_4
    else if num === 5
      - menuItemsArray = megaMenuSubItems_5
    else
      - menuItemsArray = megaMenuSubItems_7

    each item in menuItemsArray
        li.gel-meganav-mega-link 
          a(href="#")
           span(class="gel-meganav-mega-link_title")= item
           span(class="gel-meganav-mega-link_title-icon" aria-hidden="true")
