//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays important information in a show-hide format designed to inform the user.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Notice Icon image
  | +gel_notice_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_notice_ribbon(icon)
  
  aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
    span.show-on-sr
      | noticeRibbon
    a.noticeRibbon-tab(id="noticeRibbon-tab01" data-toggle="collapse" href="#noticeRibbon-content01" aria-expanded="false" tabindex="0" )
      div
        p.gel-notice-ribbon__title
          | Welcome to education.gov.nsw.au
          +gel_link_tag("BETA")
        div.gel-notice-ribbon__icon
        
        p.gel-quick-summary-desktop(role="presentation")
          |
          
    div(class="collapse noticeRibbon-content"  id="noticeRibbon-content01")
      div(class="noticeRibbon-content-container")
        div
          p
            +lipsum(4, "sentences")
        +gel_button("Button", "gel-button-secondary", "small", false, true)

        p.gel-quick-summary.d-sm-block.d-md-none
          |
        p.gel-notice-ribbon__additional.d-sm-block.d-md-none
          +lipsum(2, "words")
          a(href="#")
            +lipsum(3, "words")
    
    p.secondary-link-title.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
      +lipsum(2, "words")
      a(href="#")
        +lipsum(3, "words")
