//--- *************** ---//
//--- Metadata ---//
//--- *************** ---//

//- Date metadata is for displaying the last review date and the last update date of the article.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel_metadata

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_metadata

  aside.gel-page-metadata
    h2.show-on-sr
      | Page metadata
    p
      strong Last reviewed:
      |  20 September 2015

    p
      strong Last updated:
      |  18 September 2014
