//--- *************** ---//
//--- RESULTS TABLE ---//
//--- *************** ---//

//- A results table.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} secure - First Parameter: If you want the 'secure' tag to appear use 'secure'. Otherwise 'noSecure'. This can't be empty.
  | //- @param {int} resultsTableNum - Second parameter: The number of results for a regular results table.
  | //- @param {int} searchResultsNum - Third parameter: Number of results for search results table. Leave empty if you don't want to display search results.
  | /- @param {boolean} showLetter - Fourth parameter: Show or hide letter heading. True / False
  | eg +gel_results_table('secure',1,10) This generates 10 search results with secure tags.
  | +gel_results_table(secure,resultsTableNum,searchResultsNum,showLetter)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin gel_results_cell_content1(secure,searchResultsNum,noReference)
  span
    span.show-on-sr
      | Header 1:
    a.gel-results-table__link-text(href="#")
      +lipsum(6, "words")
    if secure == 'secure'
      +gel_link_tag('Staff only' , 'icon')
    if noReference != 1
      span.gel-results-table__code-text
        | PD20080385
    if searchResultsNum < 2
    span(aria-hidden="false").gel-results-table__paragraph
      +lipsum(10, "words")

mixin gel_results_cell_content2(secure,noReference)
  span.gel-results-table__download-text
    span.gel-results-table__chevron(aria-hidden="true")
    span.show-on-sr
      | Header 1:
    a.gel-results-table__download-text(href="#")
      +lipsum(7, "words")
    if secure == 'secure'
      +gel_link_tag('Staff only' , 'icon')
    if noReference != 1
      span.gel-results-table__download-text--light
        | PD20080777

mixin gel_results_table_row_heading
 .row.gel-results-table__heading
   .col-md-8.col-sm-12
     | Heading 1
   .col-md-4.d-none.d-md-block
     .row
       .col-md-4(aria-hidden="false")
         | Heading 2
       .col-md-4(aria-hidden="false")
         | Heading 3
       .col-md-4(aria-hidden="false")
         | Heading 4

mixin gel_alphabet(letter, showLetter)
 if showLetter == true
  div.gel-results-table__AtoZ
    if letter == "1"
      -var letterID = "one"
    else
       -var letterID = letter
    h3(id=letterID).letter= letter

mixin gel_row_type1(secure,searchResultsNum)
 -var count = 0
   while count < searchResultsNum
      .col-md-8.col-sm-12
        +gel_results_cell_content1(secure,searchResultsNum)
      .col-md-4.d-none.d-md-block
        .row
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 2:
              +lipsum(1, "words")
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 3:
              +lipsum(1, "words")
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 4:
              +lipsum(1, "words")
      -count++
mixin gel_row_type2(secure,noReference)

      .col-md-8.col-sm-12
        +gel_results_cell_content2(secure,noReference)
      .col-md-4.d-none.d-md-block
        .row
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 2:
              +lipsum(1, "words")
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 3:
              +lipsum(1, "words")
          .col-md-4(aria-hidden="false")
            span
              span.show-on-sr
                | Header 4:
              +lipsum(1, "words")


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel_results_table(secure,resultsTableNum,searchResultsNum,showLetter)

 if resultsTableNum && !searchResultsNum
  -var count = 0

  //If you want to hide the reference number from some results
  -var noReference = 1

  each val in ["1","A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "k", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
    -var currentLetter = val
    if count < resultsTableNum
      +gel_alphabet(currentLetter, showLetter)
      div.gel-results-table
        +gel_results_table_row_heading
        .row.gel-results-table-item
          +gel_row_type1(secure,1)
          +gel_row_type2(secure,noReference)
          +gel_row_type2(secure,noReference)
        .row.gel-results-table-item
          +gel_row_type1(secure,1)
          +gel_row_type2(secure)
          +gel_row_type2(secure)
        .row.gel-results-table-item
          +gel_row_type1(secure,1)
          +gel_row_type2(secure)
          +gel_row_type2(secure,noReference)
        .row.gel-results-table-item
          +gel_row_type1(secure,1)

      -count++
 if searchResultsNum
   div.gel-results-table
    +gel_results_table_row_heading
    .row.gel-results-table-item-without-link
      +gel_row_type1(secure,searchResultsNum)
