//--- *************** ---//
//--- SECTION HEADER ---//
//--- *************** ---//

//- The website specific header which contains the page title, 'staff only' logo and an optional search toggle.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | You can add the section header pattern underneath the global header include. You can use a flag for adding the search toggle button
  | +gel_section_header('Name', 'Search', secure)

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gel_section_header(heading, search, secure)

  div(role="banner" class="gel-section-header")

    div.container

      div.row

        div.col-2.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label="Megamenu mobile nav")
          a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav',role='button', tabindex='0',aria-label="Click to open Megamenu mobile nav")
        div.col-8.gel-header-container
          h1.gel-section-header__logo

            a(href='#')= heading

            if secure   
              +gel_link_tag('Staff only' , 'icon') 
      
        if (search)
          
          div.col-2.gel-mobile-search-indicator
            button.gel-search__toggle.gel-search__toggle-target(id="global-search-button" aria-label="Global search" aria-controls="global-search" data-toggle="collapse" data-target="#global-search" aria-expanded="false")
              span.show-on-sr Global Search
