//--- *************** ---//
//--- NEWS TEASER ---//
//--- *************** ---//

//- A teaser pattern with a date

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gel-section-footer

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gel-section-footer(mixin1,mixin2,mixin3)
  footer
    div.gel-section-footer(aria-label="Global Footer")
      //-- +gel_acknowledgement
      
      h2.show-on-sr
        | #{corporateName}

      div.container
        div.row
          div.col-12.col-md-4
            +gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW D.O.E profile on ","Say Hello")
            +gel_acknowledgement
          div.col-12.col-md-8
            +gel_link_columns(12,2,true)
