//--- ************************ ---//
//--- SELECT ---//
//--- ************************ ---//

//- Select form element

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +gel_select_new("Select element", 7)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin option(num)
  - var childOpt = Math.floor(Math.random() * 9) % 2
  option(value=num)
    +lipsum(2, "words")

//--- OUTPUT ---//
//---------------------------------------------------------
mixin gel_select_new(label, items, automate, mobileOnly)
  - var id = Math.floor((Math.random() * 500) + 1)
  - var num = 0

  if mobileOnly
    - var Sclass = "d-lg-none"
  else
    - var Sclass = ""
  div.gel-select
    label(for=id class=Sclass)
      =label

    if automate
      select(id=id name=id class=Sclass data-gel-auto-submit)
        while num < items
          +option(num++)
    else
      select(id=id name=id class=Sclass)
        while num < items
          +option(num++)

