//--- ************************ ---//
//--- SHOW/HIDE ---//
//--- ************************ ---//

//- A way to minimise the display of content on a page using a toggle to show and hide

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} collapse - Choose whether to collapse and show first item on init
  | //- @param {int} max - Choose the maximum amount of accordions to be displayed
  | +gel_accordion(collapse, max)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
mixin show_hide_inner(num)
  - var id = Math.floor((Math.random() * 1000) + 1)
  
    div.card
      div.card-header(id='heading'+id)
        h3.gel-show-hide_title
          button.gel-show-hide_link.btn-block(data-toggle='collapse', data-target='#collapse-'+id , aria-expanded='false', aria-controls='collapse-'+id, class='collapsed')
            i
            i.vertical
            +lipsum(3, "words")
      div.collapse(id='collapse-'+id,aria-labelledby='heading'+id)
        div.card-body
          +lipsum(5, "sentences")
          p
            i
              +lipsum(5, "sentences")
//---------------------------------------------------------

mixin gel_show_hide(max, customClasses)
  - var id = Math.floor((Math.random() * 1000) + 1)
  div.gel-show-hide(id=id, class=customClasses)
    - var num = 0
    while num < max
      +show_hide_inner(num)
      - num++
