mixin documentation
  | //- Added: 1.0.0
  | +gel_table


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------
mixin gel_table(columns, rows, bordered, headerY, caption)
  - var rowsVariation = ""
  - var borderVariation = ""
  
  if rows > 5
    -var rowsVariation = "gel-table--more-than-five-rows"

  if bordered
    -var borderVariation = "gel-table--with-border"

      
  div(class=rowsVariation class=borderVariation)
    table
      if caption 
        caption
          | Caption for the table
      thead
        tr
          if headerY
            th(scope="col")
          - for (var i = 0; i < columns; ++i)
            th(scope="col")
              +lipsum(1, "words")
      tbody
        - for (var j = 0; j < rows; ++j)
          tr
            if headerY
              th(scope="row")
                +lipsum(1, "words")
            - for (var k = 0; k < columns; ++k)
              td
                +lipsum(1, "words")
          
        
        
