// -------------------
// eg
//
// Classes not used for theme or site production, only to be used as to describe and present patterns/components
//
// -------------------

.gel-eg-container {
  position: relative;
}

.gel-eg-stage {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: 300px;
  border: 3px solid $gel-medium-grey;
  padding: 20px;
}

.gel-eg-stage--scroller {
  @extend .gel-eg-stage;
  overflow-y: scroll;
}

.gel-eg-stage--no-padding {
  @extend .gel-eg-stage;
  padding: 0;
}

.gel-eg-panel {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
}

.gel-eg-panel--alt {
  @extend .gel-eg-panel;
  background: $gel-dark-grey;
}

.gel-eg-panel--large {
  @extend .gel-eg-panel;
  height: 600px;
}

.gel-eg-fixed-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: visible;
  background-color: rgba(0,0,0,0.5);
}

.gel-eg-floater {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.5);

  &[data-changed="true"] {
    background-color: rgba(255,0,0,0.5);
  }

  &[data-changed-again="true"] {
    background-color: rgba(0,255,0,0.5);
  }
}
