// ----------------------
// VARIABLES
// ----------------------

@import "_variables";


// ----------------------
// MIXINS
// ----------------------

@import "mixins";
@import "helpers";

//----------------------
// Base information
//----------------------

// body {
//   main div.container:first-of-type {
//     background-color: $gel-white;
//   }
// }

body { 
  color: $base-body-color;
  font-size: $base-body-font-size;
  font-family: $base-body-font-family;
  font-weight: $base-body-font-weight;  
  /*letter-spacing: normal;*/
}

audio, canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

a {

	color: $gel-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }

	&:hover,
	&:focus,
	&.active {
	  color: $base-body-color;

	}
}

/*
h2 {
  font-size: 1.75rem ;
}
@media #{$gel-mq-md} {
  h2 {
    font-size: 2rem ;
  }
}*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
  font-weight: $base-heading-font-weight;
  color: $gel-mine-shaft;  
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h1:first-child {
  margin-top: 0;
}

h1 {
  
  font-size: $base-sm-h1-font-size;     // 28px
  line-height: $base-sm-h1-line-height;   // 42px
  
  @media #{$gel-mq-md} {
    font-size: $base-md-h1-font-size;   // 38px
    line-height: $base-md-h1-line-height;     // 48px
  }
}

h2 {
  
  font-size: $base-sm-h2-font-size;    // 26px
  line-height: $base-sm-h2-line-height;       // 32px
  
  @media #{$gel-mq-md} {
    font-size: $base-md-h2-font-size;       // 32px
    line-height: $base-md-h2-line-height;  // 36px
  }
}

h3 {
  
  font-size: $base-sm-h3-font-size;  // 24px
  line-height: $base-sm-h3-line-height;  // 28px
  
  @media #{$gel-mq-md} {
    font-size: $base-md-h3-font-size;  // 26px
    line-height: $base-md-h3-line-height;    // 32px
  }
}

h4 {

  font-size: $base-sm-h4-font-size;    // 22px
  line-height: $base-sm-h4-line-height;   // 26px

  @media #{$gel-mq-md} {
    font-size: $base-md-h4-font-size;  // 24px
    line-height: $base-md-h4-line-height;    // 28px
  }
}

h5 {

  font-size: $base-sm-h5-font-size;   // 20px
  line-height: $base-sm-h5-line-height;  // 26px

}

h6 {

  font-size: $base-sm-h6-font-size;  // 18px
  line-height: $base-sm-h6-line-height;  // 24px

}

.small {
  font-size: $base-small-font-size;   //14px
  line-height: $base-small-line-height;  // 20px
  font-weight: normal;
}

p {
  font-size: $base-body-font-size;       // 16px
  line-height: $base-paragraph-line-height;  // 24px
  margin-top: 0;
  margin-bottom: 1.25rem;
}

b, strong {
    font-weight: $base-heading-font-weight;
}
