// REUSABLE UTILITY CLASSES

.gel-margin-remove {
  margin: 0;
}

.gel-margin-remove-large {

  @media #{$gel-mq-lg} {
    margin: 0;
  }
}

.text-collapse {
  word-wrap: break-word;
}

.super {
  font-weight: 800;
}

.strong {
  font-weight: 700;
}

.light {
  font-weight: 400;
  color: #717171;
}

.italic {
  font-style: italic;
}

.lead,
.lead p,
.gel-lead p{
/*  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;*/
  padding-bottom: 10px;

  @media #{$gel-mq-md} {
    margin-bottom: 27px;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.lead p,
.gel-lead p{
  margin-top: 1.06rem;
}

.black {
  color: $gel-black;
}

.spacer {
  display: block;
  width: 100%;
  height: 30px;
}

.force-margin-bottom {
  display: block;
  margin-bottom: 20px;
}

.show-on-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.header-stripe {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background: $gel-highlight-panel-bg;
  box-shadow: 0px 1px 10px -5px $gel-dark-grey;
  text-align: center;
  color: $gel-decoration;

  @media #{$gel-mq-lg} {
    height: 500px;
  }
}


.relative {
  position: relative;
}

.gel-smaller-text {
  font-size: $base-body-font-size;
}

.gel-right {
  float: right;
}

.gel-center-text {
  text-align: center;
}

.gel-block {
  margin-left: -($utility-container-padding-horizontal);
  margin-right: -($utility-container-padding-horizontal);

  @media #{$gel-mq-lg} {
    margin-left: -($utility-container-large-padding-horizontal);
    margin-right: -($utility-container-large-padding-horizontal);
  }
}

.gel-block__header {
  color: $gel-content-header;
}

.gel-inline-block {
  display: inline-block;
}
